<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<div class="container-fluid">
    <div th:insert="fragments/layout/header">Header</div>
   <div th:class="container-fluid">
       <h2>Add Vacancy</h2>
   </div>
    <hr/>

    <div class="container-fluid">

        <form action="#" th:action="@{/save-vacancy}" th:object="${vacancy}" method="POST">
            <input type="hidden" name="name" th:value="${#authentication.principal.username}"/>
            <label for="clientID">Select Client
                <select id="clientID" name="clientID">
                    <option th:each="client : ${clients}" th:value="${client.clientID}"
                            th:text="${client.name}"></option>
                </select>
            </label>
            <br>
            <label for="jobTitle">
                Job Title:
            </label>
            <input type="text" th:field="*{job_title}" id="jobTitle" placeholder="Enter The Job Title"
                   class="form-control mb-4 w-25">
            <br>
            <label for="jobDescription">
                Job Description:
            </label>
            <input type="text" th:field="*{job_description}" id="jobDescription" placeholder="Enter The Job Description"
                   class="form-control mb-4 w-25">
            <br>
            <label for="seniorityLevel">
                Seniority Level:
            </label>
            <input type="text" th:field="*{seniority_level}" id="seniorityLevel" placeholder="Enter The Seniority Level"
                   class="form-control mb-4 w-25">
            <br>
            <label for="requirements">
                Requirements:
            </label>
            <input type="text" th:field="*{requirements}" id="requirements" placeholder="Enter Requirements:"
                   class="form-control mb-4 w-25"/>
            <br>
            <label for="jobLocation">
                Job Location:
            </label>
            <input type="text" th:field="*{location}" id="jobLocation" placeholder="Enter The Job Location"
                   class="form-control mb-4 w-25">
            <br>
            <label for="industry">Select Industry:
                <select id="industry" th:field="*{industry}">
                    <option th:each="type : ${T(za.co.RecruitmentZone.entity.Enums.Industry).values()}"
                            th:value="${type}" th:text="${type}"></option>
                </select>
            </label>


          <!--  <br>
            <label for="datePublished">
                Date Published:
            </label>
            <input type="date" th:field="*{publish_date}" id="datePublished"
                   placeholder="Enter The Date to be published" class="form-control mb-4 w-25">
            <span th:if="${#fields.hasErrors('publish_date')}" th:errors="*{publish_date}" class="error"></span>
            <br>
            <label for="expirationDate">
                Expiry Date:
            </label>
            <input type="date" th:field="*{end_date}" id="expirationDate" placeholder="Enter The Expiration Date">
            <span th:if="${#fields.hasErrors('end_date')}" th:errors="*{end_date}" class="error"></span>
            -->
            <label for="publish_date"></label><input type="date" th:field="*{publish_date}" id="publish_date"
                                                      placeholder="Enter The Date to be published" class="form-control mb-4 w-25">
            <span th:if="${#fields.hasErrors('publish_date')}" th:errors="*{publish_date}" class="error"></span>

            <label for="end_date"></label><input type="date" th:field="*{end_date}" id="end_date" placeholder="Enter The Expiration Date"
                                                       class="form-control mb-4 w-25">
            <span th:if="${#fields.hasErrors('end_date')}" th:errors="*{end_date}" class="error"></span>



            <br>
            <label for="jobType">Select Job Type:
                <select id="jobType" th:field="*{jobType}">
                    <option th:each="type : ${T(za.co.RecruitmentZone.entity.Enums.JobType).values()}"
                            th:value="${type}" th:text="${type}"></option>
                </select>
            </label>
            <br>

            <label for="empType">Select Employment Type:
                <select id="empType" th:field="*{empType}">
                    <option th:each="type : ${T(za.co.RecruitmentZone.entity.Enums.EmpType).values()}"
                            th:value="${type}" th:text="${type}"></option>
                </select>
            </label>
            <br>

            <button type="submit" class="btn btn-primary btn-sm mb-3">Save vacancy</button>
        </form>
    </div>


    <!--BOTTOM Navbar-->
    <div th:insert="fragments/layout/footer">Footer</div>

</div>


<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.7.1/jquery.min.js/}"></script>
</body>
</html>