<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<div class="container-fluid">
    <div th:insert="fragments/layout/header">Header</div>

    <div class="container-fluid"><h2>Manage Vacancies</h2></div>
    <hr/>

    <div class="container mt-4">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Vacancy ID</th>
                <th>Publish Date</th>
                <th>Status</th>
                <th>JobID</th>
                <th>Action</th> <!-- New column for the "View Job" link -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="vacancy : ${Vacancies}">
                <td th:text="*{vacancy.getVacancyID()}"></td>
                <td th:text="*{vacancy.getPublish_date()}"></td>
                <td th:text="*{vacancy.getStatus()}"></td>
                <td th:text="*{vacancy.getJobID()}"></td>
                <td>
                    <form th:action="@{/viewJob}" th:method="post">
                        <!-- Hidden input field to include the vacancyID in the POST request -->
                        <input type="hidden" name="jobID" th:value="*{vacancy.getJobID()}" />
                        <!-- Submit button to trigger the form submission -->
                        <button type="submit" class="btn btn-primary">View Job</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <!--BOTTOM Navbar-->
    <div th:insert="fragments/layout/footer">Footer</div>

</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>