<div class="container-fluid main-page-section">

    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

    <form action="#" th:action="@{/Vacancy/save-updated-vacancy}" th:object="${vacancy}" th:method="POST">
        <!-- Hidden input field to include the vacancyID in the POST request -->
        <input type="hidden" name="vacancyID" th:field="*{vacancyID}"/>
        <div class="md-10">
            <label for="job_title">Job Title: </label>
            <input type="text" th:field="*{job_title}" class="form-control mb-4 w-25" id="job_title"
            />

            <label for="job_description">Job Description: </label>
            <input type="text" th:field="*{job_description}" class="form-control mb-4 w-25" id="job_description"
            />

            <label for="seniority_level">Seniority Level: </label>
            <input type="text" th:field="*{seniority_level}" class="form-control mb-4 w-25" id="seniority_level"
            />
            <label for="requirements">Requirements: </label>
            <input type="text" th:field="*{requirements}" class="form-control mb-4 w-25" id="requirements"
            />

            <label for="location">Location: </label>
            <input type="text" th:field="*{location}" class="form-control mb-4 w-25" id="location"
            />


            <label for="industry">Select Industry:
            </label>
            <select class="form-select-sm" aria-label=".form-select-sm" id="industry" th:field="*{industry}">
                <option th:each="type : ${T(za.co.recruitmentzone.util.enums.Industry).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>
            <br>

            <label for="publish_date">Publish Date: </label>
            <input type="date" th:value="*{publish_date}" readonly class="form-control mb-4 w-25" id="publish_date"
                   placeholder="Publish Date"/>

            <label for="expirationDate">Expiration Date: </label>
            <input type="date" th:value="*{end_date}" class="form-control mb-4 w-25" id="expirationDate"
                   placeholder="Expiration Date:"/>

            <label for="status">Select Status:
            </label>
            <select class="form-select-sm" aria-label=".form-select-sm" id="status" th:field="*{status}">
                <option th:each="statusVal : ${T(za.co.recruitmentzone.util.enums.VacancyStatus).values()}"
                        th:value="${statusVal}" th:text="${statusVal}"></option>
            </select>

            <br>
            <label for="jobType">Select Job Type:
            </label>
            <select class="form-select-sm" aria-label=".form-select-sm"  id="jobType" th:field="*{jobType}">
                <option th:each="type : ${T(za.co.recruitmentzone.util.enums.JobType).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>
            <br><br>
            <label for="empType">Select Employment Type:
            </label>
            <select class="form-select-sm" aria-label=".form-select-sm"  id="empType" th:field="*{empType}">
                <option th:each="type : ${T(za.co.recruitmentzone.util.enums.EmpType).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>

            <br><br>
        </div>
      <!--  <button type="submit" class="btn">Save Updated Vacancy</button>-->

        <button class="btn normal-button"
                hx-post="/Vacancy/save-updated-vacancy"
                hx-target="#body-container"
                hx-swap="innerHTML"> Save Updated Vacancy
        </button>
    </form>

</div>