<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<div class="container-fluid">
    <div th:insert="fragments/layout/header">Header</div>

    <div class="container-fluid"><h2>View Vacancy</h2></div>
    <hr/>
<!--    <div th:insert="fragments/vacancy/vacancy">Vacancy</div>-->
    <!--FORM TO UPDATE JOB -->
<div class="container-fluid">
    <form action="#" th:action="@{/save-updated-vacancy}" th:object="${vacancy}" th:method="POST">
        <!-- Hidden input field to include the vacancyID in the POST request -->
        <input type="hidden" name="vacancyID" th:field="*{vacancyID}" />
        <div class="md-10">
            <label for="job_title"  >Job Title: </label>
            <input type="text" th:field="*{job_title}" class="form-control mb-4 w-25" id="job_title" placeholder="Job Title"/>

            <label for="job_description"  >Job Title: </label>
            <input type="text" th:field="*{job_description}" class="form-control mb-4 w-25" id="job_description" placeholder=" "/>

            <label for="seniority_level"  >Job Title: </label>
            <input type="text" th:field="*{seniority_level}" class="form-control mb-4 w-25" id="seniority_level" placeholder="Job Title"/>

            <label for="requirements"  >Job Title: </label>
            <input type="text" th:field="*{requirements}" class="form-control mb-4 w-25" id="requirements" placeholder="Job Title"/>

            <label for="location"  >Job Title: </label>
            <input type="text" th:field="*{location}" class="form-control mb-4 w-25" id="location" placeholder="Job Title"/>

            <label for="industry"  >Job Title: </label>
            <input type="text" th:field="*{industry}" class="form-control mb-4 w-25" id="industry" placeholder="Job Title"/>

            <label for="publish_date"  >Job Title: </label>
            <input type="text" th:field="*{publish_date}" class="form-control mb-4 w-25" id="publish_date" placeholder="Job Title"/>

            <label for="end_date"  >Job Title: </label>
            <input type="text" th:field="*{end_date}" class="form-control mb-4 w-25" id="end_date" placeholder="Job Title"/>

            <label for="status"  >Job Title: </label>
            <input type="text" th:field="*{status}" class="form-control mb-4 w-25" id="status" placeholder="Job Title"/>

            <label for="job_type"  >Job Title: </label>
            <input type="text" th:field="*{job_type}" class="form-control mb-4 w-25" id="job_type" placeholder="Job Title"/>

            <label for="emp_type"  >Job Title: </label>
            <input type="text" th:field="*{emp_type}" class="form-control mb-4 w-25" id="emp_type" placeholder="Job Title"/>

        </div>
        <button type="submit" class="btn btn-primary">Save Updated Vacancy</button>
    </form>

</div>


    <!--BOTTOM Navbar-->
    <div th:insert="fragments/layout/footer">Footer</div>

</div>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>