<div class="container-fluid">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Vacancy ID</th>
            <th>Job Title</th>
            <th>job_description</th>
            <th>seniority_level</th>
            <th>requirements</th>
            <th>location</th>
            <th>industry</th>
            <th>publish_date</th>
            <th>end_date</th>
            <th>status</th>
            <th>jobType</th>
            <th>emp_type</th>
            <th>View Vacancy</th><!-- New column for the "View Job" link -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacancy : ${vacancies}">
            <td th:text="${vacancy.vacancyID}"></td>
            <td th:text="${vacancy.job_title}"></td>
            <td th:text="${vacancy.job_description}"></td>
            <td th:text="${vacancy.seniority_level}"></td>
            <td th:text="${vacancy.requirements}"></td>
            <td th:text="${vacancy.location}"></td>
            <td th:text="${vacancy.industry}"></td>
            <td th:text="${vacancy.publish_date}"></td>
            <td th:text="${vacancy.end_date}"></td>
            <td th:text="${vacancy.status}"></td>
            <td th:text="*{vacancy.jobType}"></td>
            <td th:text="*{vacancy.empType}"></td>
            <td>
                <form th:action="@{/update-vacancy}" th:method="post">
                    <!-- Hidden input field to include the vacancyID in the POST request -->
                    <input type="hidden" name="vacancyID" th:value="*{vacancy.vacancyID}"/>
                    <!-- Submit button to trigger the form submission -->
                    <button type="submit" class="btn btn-primary">Update Vacancy</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>