<div class="container-fluid main-page-section" id="vacancy-documents-page">
    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

        <!--FILE UPLOAD ERRORS-->
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${createClientFileResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${invalidFileUpload})}"></div>


    </div>


    <form action="#" th:action="@{/Vacancy/upload-document}" th:object="${clientFileDTO}"
          th:method="post" enctype="multipart/form-data" hx-encoding='multipart/form-data'>

        <input type="hidden" name="vacancyID" th:value="${clientFileDTO.vacancyID}"/>

        <input type="hidden" name="clientID" th:value="${clientFileDTO.clientID}"/>

        <input type="hidden" name="pageNo" th:value="${currentPage}"/>

        <input type="hidden" name="sortField" th:value="${sortField}"/>

        <input type="hidden" name="sortDir" th:value="${sortDir}"/>

        <div class="form-group">
            <h5 th:text="${'Client Name: '+ vacancy.client.name}"></h5>
            <hr>
            <label for="documentAttachment">Attach Document:</label>
            <p class="alert alert-danger alert-dismissible fade show"
               th:if="*{#fields.hasErrors('fileMultipart')}"
               th:errors="${clientFileDTO.fileMultipart}"
            ></p>
            <input th:type="file" name="fileMultipart" id="documentAttachment"
                   th:field="${clientFileDTO.fileMultipart}"
                   class="form-control "/>
            <br><br>
            <label for="candidateDocumentType">Document Type:
            </label>
            <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('documentType')}"
               th:errors="${clientFileDTO.documentType}"
            ></p>

            <select class="form-select" aria-label=".form-select" id="candidateDocumentType" th:field="*{documentType}">
                <option th:each="docType : ${T(za.co.recruitmentzone.util.enums.ClientDocumentType).values()}"
                        th:value="${docType}" th:text="${docType.getPrintableDocType()}"></option>
            </select>
            <br>

            <button class="btn btn-secondary"
                    hx-post="/Vacancy/upload-document"
                    hx-target="#main-page-column"
                    hx-swap="innerHTML"
                    hx-include="[clientFileDTO='clientFileDTO']"
                    hx-indicator="#spinner">
                Add New Document
            </button>
            <p class='htmx-indicator spinner' id="spinner"></p>

        </div>


    </form>


    <hr/>


    <div th:replace="~{fragments/documents/vacancy-document-fragment :: existingDocuments(${existingDocuments})}"></div>

</div>