<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<div class="container-fluid">
    <div th:insert="fragments/layout/header">Header</div>

    <div class="container-fluid">
        <h3>Vacancies</h3>
        <hr>
    <div th:insert="fragments/vacancy/vacancy">Vacancies</div>
    <a class="btn btn-primary btn-sm mb-3" th:href="@{/add-vacancy}">Add Vacancy</a>
    </div>


<!--BOTTOM Navbar-->
<div th:replace="fragments/layout/footer">Footer</div>

</div>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.7.1/jquery.min.js/}"></script>
</body>
</html>