<div class="container-fluid main-page-section">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findVacancyResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="blog-post">
                <h2 class="blog-post-title" th:text="${vacancy.job_title}"></h2>
                <p>Agent <a href="#">Author</a></p>
                <p class="blog-post-meta" th:text="${'Publish Date: '+vacancy.publish_date}"></p>
                <p class="blog-post-meta" th:text="${'End Date: '+vacancy.end_date}"></p>
                <!--  -->
                <h2>Description: </h2>


                <section class="blog-content" th:utext="*{vacancy.job_description}">

                </section>
                <h2>Requirements: </h2>

                <section class="blog-content" th:utext="*{vacancy.requirements}">

                </section>


                <a>
                    <form th:action="@{/Application/apply-now}" th:method="post">
                        <input type="hidden" name="vacancyID" th:value="${vacancy.vacancyID}"/>

                        <button class="btn btn-primary"
                                hx-post="/Application/apply-now"
                                hx-target="#main-page-section"
                                hx-swap="outtaHTML"
                                hx-include="[vacancyID='vacancyID']">Apply Now
                        </button>
                    </form>
                </a>

            </div>
            <br/>
            <a class="btn btn-secondary" th:href="@{/home}">Back to vacancies</a>
        </div>

        <div class="col-4">
            <img src="https://picsum.photos/450/300" class="shadow -p3 mb-5 bg-body-tertiary rounded" alt="img">
        </div>
    </div>

</div>




