<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<div class="container-fluid">
    <div th:insert="fragments/layout/header">Header</div>

    <div class="container-fluid"><h2>View Submission</h2></div>
    <hr/>
    <div class="container-fluid">
        <a class="nav-link" th:href="@{/vacancy-administration}">Back</a>
    </div>
    <div class="container-fluid">
        <div id="vacancies-list">
        <!--    <table th:replace="fragments/vacancy/submission-fragment :: submission(${vacancy})">
            </table>-->
            <div class="container-fluid" >
                <table  >
                    <thead>
                    <tr>
                        <th>Vacancy Title</th>
                        <th>Candidate Name</th>
                        <th>Candidate Last Name</th>
                        <th>ID Number</th>
                        <th>Phone Number</th>
                        <th>Current Province</th>
                        <th>Current Role</th>
                        <th>Employer</th>
                        <th>Seniority</th>
                        <th>Education Level</th>
                        <th>Relocation</th>
                        <th>CV File Path Location</th>
                        <th>View Candidate Documents</th>
                        <!-- Add more columns as needed -->
                    </tr>
                    </thead>
                    <tbody th:each="Vapplication : ${vacancy.applications}">
                    <!-- Use th:fragment to define the vacancy card template -->
                    <tr th:each="candidate : ${Vapplication.candidate}">
                        <td th:text="*{vacancy.job_title}"></td>
                        <td th:text="${candidate.last_name}"></td>
                        <td th:text="${candidate.id_number}"></td>
                        <td th:text="${candidate.email_address}"></td>
                        <td th:text="${candidate.phone_number}"></td>
                        <td th:text="${candidate.current_province}"></td>
                        <td th:text="${candidate.current_role}"></td>
                        <td th:text="${candidate.current_employer}"></td>
                        <td th:text="${candidate.seniority_level}"></td>
                        <td th:text="${candidate.education_level}"></td>
                        <td th:text="${candidate.relocation}"></td>
                        <td th:text="${candidate.cvFilePath}"></td>
                        <td>
                        <!--    <form  >
                                <input type="hidden" name="candidateID" th:value="${candidate.candidateID}"/>
                                <button th:action="@{/view-candidate-notes}"
                                        hx-post="/view-candidate-notes"
                                        hx-target='#candidate-notes'
                                        hx-swap='innerHTML'
                                        hx-include="[name='candidateID']">
                                    View Notes
                                </button>
                            </form>-->
                            <form  >
                                <!-- Hidden input field to include the brandVal in the POST request -->
                                <input type="hidden" name="candidateID" th:value="${candidate.candidateID}"/>
                                <!-- Submit button to trigger the form submission -->
                                <button th:action="@{/view-candidate-notes}"
                                        class='btn'
                                        hx-post="/view-candidate-notes"
                                        hx-target="#candidate-notes"
                                        hx-swap='innerHTML'
                                        hx-include="[name='candidateID']" >
                                    View Notes
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div id="candidate-notes"></div>

    <!--BOTTOM Navbar-->
    <div th:insert="fragments/layout/footer">Footer</div>

</div>
<script type="text/javascript" th:src="@{/webjars/htmx.org/1.9.9/dist/htmx.min.js}"></script>

<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.7.1/jquery.min.js/}"></script>
</body>
</html>


