<div class="container-fluid main-page-section" >

    <div class="row">
        <div class="container">
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findVacancyResponse})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
        </div>
    </div>


    <table class="table table-hover table-responsive-sm" >
        <thead >
        <tr>
            <th>Date Received</th>
            <th>Candidate Name</th>
            <th>Candidate Last Name</th>
            <th>View Candidate</th>
            <th>View Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vApplication : ${vacancyApplications}" >
             <td th:text="${#temporals.format(vApplication.date_received, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${vApplication.candidate.first_name}"></td>
            <td th:text="${vApplication.candidate.last_name}"></td>
            <td>
                <form action="#" th:action="@{/Candidate/view-candidate}" th:method="post">
                    <!-- Hidden input field to include the vacancyID in the POST request -->
                    <input type="hidden" name="candidateID" th:value="*{vApplication.candidate.candidateID}"/>
                    <!-- Submit button to trigger the form submission -->
                    <button class="btn normal-button"
                            hx-post="/Candidate/view-candidate"
                            hx-target="#main-page-section"
                            hx-swap="innerHTML"
                            hx-include="[candidateID='candidateID']">View Candidate
                    </button>
                </form>

            </td>

            <td>

                <form action="#" th:action="@{/Candidate/view-candidate-notes}" th:method="post">
                    <!-- Hidden input field to include the brandVal in the POST request -->

                    <input type="hidden" name="candidateID"
                           th:value="${vApplication.candidate.candidateID}"/>

                    <!-- Submit button to trigger the form submission -->
                    <button class='btn normal-button'
                            hx-post="/Candidate/view-candidate-notes"
                            hx-target="#right-page-column"
                            hx-swap='innerHTML'
                            hx-include="[candidateID='candidateID']">
                        View Notes
                    </button>

                </form>

            </td>
        </tr>
        </tbody>
    </table>

</div>
