<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"> <!--  data-bs-theme="dark" -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">

    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>
<!-- TOP Navbar -->

<div th:replace="~{fragments/layout/top-nav}">Top-Nav-Bar</div>

<div class="container-fluid pt-2 pe-2" id="body-container">


    <!--MAIN PAGE  -->

    <div class="row-12 ">

        <!-- PAGE HEADING -->

        <div class="container-fluid">
            <h3> Applications Administration

            </h3>
        </div>

        <!--MESSAGE AREA-->

        <div class="container-fluid">
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findAllApplicationsResponse})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveApplicationStatusResponse})}"></div>

        </div>

        <!--PAGE CONTENT -->

        <div class="container-fluid main-page-section">

            <div class="row">

                <!--LEFT PAGE COLUMN -->

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">

                    <div class="container-fluid left-page-frame" id="left-page-column">
                        <form class="container d-none d-md-block"  action="#">
                            <button class="btn btn-outline-secondary" type="button" disabled>Disabled button</button>
                        </form>

                        <br/>

                        <div class="container ">
                            <div class="my-card custom-border dropdown dropend" th:each="vapp : ${applicationsList}">

                                <p th:text="*{'Vacancy Name: ' + vapp.vacancy.job_title}" th:value="${vapp}"></p>
                                <p th:text="*{'Candidate: ' + vapp.candidate.first_name}"
                                   th:value="${vapp}"></p>

                                <button type="button" class="btn btn-sm dropdown-toggle drop-down-button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Manage Application
                                </button>


                                <div id="applicant-admin-list" th:insert="~{fragments/applications/application-list  :: listOptions(${vapp})}">Applications List</div>
                              <br/>

                            </div>
                        </div>


                    </div>

                </div>

                <!--    CENTER  PAGE COLUMN -->

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                    <div class="container-fluid" id="main-page-section">
                        <!--RESPONSE MESSAGES -->

                    </div>
                </div>

                <!--RIGHT PAGE LIST-->
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                    <div class="container-fluid " id="right-page-column">

                    </div>
                </div>

            </div>
        </div>
    </div>



</div>
<!--BOTTOM Navbar-->
<div th:replace="~{fragments/layout/bottom-nav}">Bottom Nav</div>

<div th:replace="~{fragments/layout/scripts :: scripts}"></div>

</body>
</html>