<div class="container-fluid main-page-section">
    <main>
        <article>
            <section>
                <!--MESSAGE AREA-->
                <div class="row-cols-8">
                    <div th:insert="~{fragments/layout/response-messages :: successMessage(${applicationOutcome})}"></div>
                    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${invalidFileException})}"></div>
                    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${submitCandidateApplicationResponse})}"></div>
                    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>



                </div>
            </section>
        </article>

        <a class="btn btn-secondary" th:href="@{/home}">Show available vacancies
        </a>


    </main>
</div>
