<div class="main-page-section m-0 p-2">
    <div class="row">

        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${bindingResult})}"></div>

        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${invalidFileException})}"></div>

        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${vacancyApplicationFormResponse})}"></div>

    </div>

    <form class="form-group" action="#" th:action="@{/Application/save-application}" th:object="${newApplicationDTO}"
          th:method="POST" enctype="multipart/form-data" hx-encoding='multipart/form-data'>

        <p th:text="${newApplicationDTO.vacancyName} ? ${'Application for ' + newApplicationDTO.vacancyName} : 'Application for open vacancy'"></p>

        <input type="hidden" name="vacancyID" th:value="${newApplicationDTO.vacancyID}"/>

        <input type="hidden" name="vacancyName" th:value="${newApplicationDTO.vacancyName}"/>

        <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('first_name')}"
           th:errors="${newApplicationDTO.first_name}"
        >Error</p>
        <label for="FirstName">
            First Name:
        </label>

        <input type="text" th:field="${newApplicationDTO.first_name}" id="FirstName" placeholder="Enter First Name"
               class="form-control mb-4 w-25"/>

        <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('last_name')}"
           th:errors="${newApplicationDTO.last_name}"
        ></p>
        <label for="LastName">
            Last Name:
        </label>

        <input type="text" th:field="${newApplicationDTO.last_name}" id="LastName" placeholder="Enter Last Name"
               class="form-control mb-4 w-25"/>
        <label for="idNumber">
            ID Number:
        </label>
        <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('id_number')}"
           th:errors="${newApplicationDTO.id_number}"></p>
        <input type="text" th:field="${newApplicationDTO.id_number}" id="idNumber" placeholder="ID Number"
               class="form-control mb-4 w-25"/>

        <p class="alert alert-danger alert-dismissible fade show" role="alert"
           th:if="${#fields.hasErrors('email_address')}"
           th:errors="${newApplicationDTO.email_address}">Error!</p>

        <label for="email">
            Email Address:
        </label>
        <input type="email" th:field="${newApplicationDTO.email_address}" id="email"
               placeholder="Enter Email Address"
               class="form-control mb-4 w-25"/>
        <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('phone_number')}"
           th:errors="${newApplicationDTO.phone_number}"
        ></p>
        <label for="phoneNumber">
            Phone Number:
        </label>
        <input type="text" th:field="${newApplicationDTO.phone_number}" id="phoneNumber"
               placeholder="Enter Phone Number"
               class="form-control mb-4 w-25"/>


        <label for="currentProvince">Current Location:
        </label>
        <select class="form-select" aria-label=".form-select" id="currentProvince"
                th:field="${newApplicationDTO.current_province}">
            <option th:each="province : ${T(za.co.recruitmentzone.util.enums.Province).values()}"
                    th:value="${province}" th:text="${province.getPrintableProvinceName()}"></option>
        </select>
        <br> <br>

        <p class="alert alert-danger alert-dismissible fade show" role="alert"
           th:if="${#fields.hasErrors('current_role')}"
           th:errors="${newApplicationDTO.current_role}">Error!</p>
        <label for="CurrentRole">
            Current Role:
        </label>
        <input type="text" th:field="${newApplicationDTO.current_role}" id="CurrentRole"
               placeholder="Enter Current Role"
               class="form-control mb-4 w-25"/>

        <p class="alert alert-danger alert-dismissible fade show" role="alert"
           th:if="${#fields.hasErrors('current_employer')}"
           th:errors="${newApplicationDTO.current_employer}">current_employerError!</p>
        <label for="employer">
            Current Employer:
        </label>
        <input type="text" th:field="${newApplicationDTO.current_employer}" id="employer"
               placeholder="Enter Current Employer"
               class="form-control mb-4 w-25"/>

        <p class="alert alert-danger alert-dismissible fade show" role="alert"
           th:if="${#fields.hasErrors('seniority_level')}"
           th:errors="${newApplicationDTO.seniority_level}">seniority_levelError!</p>
        <label for="seniorityLevel">
            Seniority Level:
        </label>
        <input type="text" th:field="${newApplicationDTO.seniority_level}" id="seniorityLevel"
               placeholder="Enter Seniority Level"
               class="form-control mb-4 w-25">

        <label for="EduLevel">Highest Education Level:
        </label>
        <select class="form-select" aria-label=".form-select" id="EduLevel"
                th:field="${newApplicationDTO.education_level}">
            <option th:each="statusVal : ${T(za.co.recruitmentzone.util.enums.EducationLevel).values()}"
                    th:value="${statusVal}" th:text="${statusVal.getPrintableEduLevel()}"></option>
        </select>
        <br/>

        <br/>
        <label>Willing to relocate?</label>

        <div class="form-check form-check-inline">
            <input type="radio" th:field="${newApplicationDTO.relocation}" id="relocationYes" value="true"
                   class="form-check-input"/>
            <label class="form-check-label" for="relocationYes">Yes</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="radio" th:field="${newApplicationDTO.relocation}" id="relocationNo" value="false"
                   class="form-check-input"/>
            <label class="form-check-label" for="relocationNo">No</label>
        </div>
        <br/> <br/>
        <!--  <p class="alert alert-danger alert-dismissible fade show" role="alert"
                   th:if="${#fields.hasErrors('seniority_level')}"
                   th:errors="${newApplicationDTO.seniority_level}">seniority_levelError!</p>-->
        <label for="documentAttachment">
            Attach CV:
        </label>

        <input th:type="file" name="documentAttachment" th:value="${newApplicationDTO.documentAttachment}"
               id="documentAttachment"
               class="form-control mb-4 w-25"/>

        <button class="btn btn-secondary"
                hx-post="/Application/save-application"
                hx-target="#main-page-section"
                hx-swap="innerHTML"
                hx-include="[newApplicationDTO='newApplicationDTO']">Submit Application
        </button>
    </form>
</div>