<table class="table table-bordered table-striped" th:fragment="ApplicationsTable(applications)">
    <thead class="table-dark">
    <tr>
        <th>Date Received</th>
        <th>Submission Date</th>
        <th>Status</th>
        <th>Candidate</th>
        <th>Vacancy</th>
        <th>Update Application</th>
        <th>View Candidate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vapp : ${applications}">
        <td th:text="${vapp.date_received}"></td>
        <td th:text="${vapp.submission_date}"></td>
        <td th:text="${vapp.status}"></td>
        <td th:text="${vapp.candidate.first_name + ' '+ vapp.candidate.last_name}"></td>
        <td th:text="${vapp.vacancy.job_title}"></td>
        <td>
            <form th:action="@{/Application/update-application}" th:method="post">
                <!-- Hidden input field to include the vacancyID in the POST request -->
                <input type="hidden" name="applicationID" th:value="*{vapp.applicationID}"/>
                <!-- Submit button to trigger the form submission -->
                <button type="submit" class="btn btn-primary">Update Application</button>
            </form>
        </td>
        <td>
            <form th:action="@{/Candidate/view-candidate}" th:method="post">
                <!-- Hidden input field to include the vacancyID in the POST request -->
                <input type="hidden" name="candidateID" th:value="*{vapp.candidate.candidateID}"/>
                <!-- Submit button to trigger the form submission -->
                <button type="submit" class="btn btn-primary">View Candidate</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="container-fluid" th:fragment="applicationView(vacancyApplication)">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Application ID</th>
            <th>Date Received</th>
            <th>Submission Date</th>
            <th>Status</th>
            <th>CandidateID</th>
            <th>VacancyID</th>
            <th>Update Application</th><!-- New column for the "View Job" link -->
        </tr>
        </thead>
        <tbody>

        <tr >
            <td th:text="*{vacancyApplication.applicationID}"></td>
            <td th:text="${vacancyApplication.date_received}"></td>
            <td th:text="${vacancyApplication.submission_date}"></td>
            <td th:text="${vacancyApplication.status}"></td>
            <td th:text="${vacancyApplication.candidateID}"></td>
            <td th:text="${vacancyApplication.vacancyID}"></td>
            <td>
                <form th:action="@{/Application/update-application}" th:method="post">
                    <!-- Hidden input field to include the vacancyID in the POST request -->
                    <input type="hidden" name="applicationID" th:value="*{vacancyApplication.applicationID}"/>
                    <!-- Submit button to trigger the form submission -->
                    <button type="submit" class="btn btn-primary">Update Application</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>