<div class="container-fluid main-page-section">
    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${bindingResult})}"></div>

        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveApplicationStatusResponse})}"></div>
    </div>


    <!--  applicationID    -->
    <form class="form-control-sm" action="#" th:action="@{/Application/save-updated-application}" th:method="POST">

        <input type="hidden" th:field="${vacancyApplicationDTO.applicationID}"/>

        <p th:text="*{'Current Status: ' + vacancyApplicationDTO.status.getPrintableStatus()}" th:value="${vacancyApplicationDTO}"></p>

        <div th:if="${#strings.isEmpty(applicationsError)}">

            <label for="status">Select Status:
            </label>
            <select class="form-select" aria-label=".form-select"  id="status" th:field="${vacancyApplicationDTO.status}">
                <option th:each="statusVal : ${T(za.co.recruitmentzone.util.enums.ApplicationStatus).values()}"
                        th:value="${statusVal}" th:text="${statusVal.getPrintableStatus()}"></option>

            </select>
            <br>
            <br>
            <button class="btn btn-primary"
                    hx-post="/Application/save-updated-application"
                    hx-target="#main-page-section"
                    hx-swap="innerHTML"
                    hx-include="[vacancyApplicationDTO='vacancyApplicationDTO']">Save Updated Application Status
            </button>


        </div>

    </form>


</div>