<div class="container-fluid main-page-section" th:fragment="applicationView(vacancyApplication)">
    <div class="row">
        <p th:if="${findApplicationByIDResponse}" th:text="${findApplicationByIDResponse}"></p>
        <p th:if="${internalServerError}" th:text="${internalServerError}"></p>
    </div>

    <table class="table ">
        <thead class="table-dark">
        <tr>
            <th>Application ID</th>
            <th>Date Received</th>
            <th>Submission Date</th>
            <th>Status</th>
            <th>CandidateID</th>
            <th>VacancyID</th>
            <th>Update Application</th><!-- New column for the "View Job" link -->
        </tr>
        </thead>
        <tbody>

        <tr >
            <td th:text="*{vacancyApplication.applicationID}"></td>
            <td th:text="${vacancyApplication.date_received}"></td>
            <td th:text="${vacancyApplication.submission_date}"></td>
            <td th:text="${vacancyApplication.status}"></td>
            <td th:text="${vacancyApplication.candidateID}"></td>
            <td th:text="${vacancyApplication.vacancyID}"></td>
            <td>
                <form th:action="@{/Application/update-application}" th:method="post">
                    <!-- Hidden input field to include the vacancyID in the POST request -->
                    <input type="hidden" name="applicationID" th:value="*{vacancyApplication.applicationID}"/>
                    <!-- Submit button to trigger the form submission -->
                    <!--<button type="submit" class="btn">Update Application</button>-->
                    <button class="btn normal-button"
                            hx-post="/Application/update-application"
                            hx-target="#main-page-section"
                            hx-swap="innerHTML"
                            hx-include="[applicationID='applicationID']">Update Application
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>