<div class="container-fluid page-component" th:fragment="applicationView(vacancyApplication)"
     th:object="${vacancyApplication}">
    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${findApplicationByIDResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveApplicationStatusResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>


    </div>

  <!--  <table class="table ">
        <thead class="table-dark">
        <tr>
            <th>Application ID</th>
            <th>Date Received</th>
            <th>Submission Date</th>
            <th>Status</th>
&lt;!&ndash;            <th>CandidateID</th>
            <th>VacancyID</th>&ndash;&gt;
            <th>Update Application</th>
        </tr>
        </thead>
        <tbody>

        <tr >
            <td th:text="*{vacancyApplication.applicationID}"></td>
            <td th:text="${vacancyApplication.candidateName}"></td>
            <td th:text="${vacancyApplication.vacancyName}"></td>
            <td th:text="${vacancyApplication.created}"></td>
            <td th:text="${vacancyApplication.date_received}"></td>
            <td th:text="${vacancyApplication.submission_date}"></td>
            <td th:text="${vacancyApplication.status}"></td>&lt;!&ndash;
            <td th:text="${vacancyApplication.candidateID}"></td>
            <td th:text="${vacancyApplication.candidateName}"></td>&ndash;&gt;
            <td>
                <form th:action="@{/Application/update-application}" th:method="post">
                    &lt;!&ndash; Hidden input field to include the vacancyID in the POST request &ndash;&gt;
                    <input type="hidden" name="applicationID" th:value="*{vacancyApplication.applicationID}"/>
                    &lt;!&ndash; Submit button to trigger the form submission &ndash;&gt;
                    &lt;!&ndash;<button type="submit" class="btn">Update Application</button>&ndash;&gt;
                    <button class="btn normal-button"
                            hx-post="/Application/update-application"
                            hx-target="#main-page-section"
                            hx-swap="innerHTML"
                            hx-include="[applicationID='applicationID']">Update Application
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
-->




    <div class="container-fluid">
        <h2>Application</h2>

        <div class="row">
            <div class="col-6">
                <label>Application ID:</label>
            </div>
            <div class="col-6">
                <span th:text="${vacancyApplication.applicationID}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Candidate Name:</label>
            </div>
            <div class="col-6">
                <span th:text="${vacancyApplication.candidateName}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Vacancy Title:</label>
            </div>
            <div class="col-6">
                <span th:text="${vacancyApplication.vacancyName}"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label>Created:</label>
            </div>
            <div class="col-6">
                <span th:text="${#temporals.format(vacancyApplication.created, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Date Received:</label>
            </div>
            <div class="col-6">
                <span th:text="${#temporals.format(vacancyApplication.date_received, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Submission Date:</label>
            </div>
            <div class="col-6">
                <span th:text="${vacancyApplication.submission_date} ? ${#temporals.format(vacancyApplication.submission_date, 'yyyy-MM-dd HH:mm')} :'No submission Date' "></span>

            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Status:</label>
            </div>
            <div class="col-6">
                <span th:text="${vacancyApplication.printStatus()}"></span>
            </div>
        </div>

        <br>

        <div>
            <form th:action="@{/Application/update-application}" th:method="post">
                <!-- Hidden input field to include the vacancyID in the POST request -->
                <input type="hidden" name="applicationID" th:value="${vacancyApplication.applicationID}"/>
                <!-- Submit button to trigger the form submission -->
                <!--<button type="submit" class="btn">Update Application</button>-->
                <button class="btn btn-primary"
                        hx-post="/Application/update-application"
                        hx-target="#main-page-section"
                        hx-swap="innerHTML"
                        hx-include="[applicationID='applicationID']">Change Status
                </button>
            </form>
        </div>
        <br>
    </div>


</div>