<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
    <style>
        body {
            text-align: justify;
        }
    </style>
</head>
<body>
<div class="container-fluid">

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <!--TOP Navbar-->
                <div th:replace="fragments/layout/header">Header</div>
            </div>
        </div>


        <div class="container-fluid">

            <main th:fragment="blogView(blog)">
                <article>
                    <section>
                        <h1>About Recruitment Zone</h1>
                        <p>
                            Recruitment Zone is an agile and impactful recruitment company addressing the need in the market for a more personal approach to candidates and clients. Kiunga means “Link” as we position ourselves as the link between client and candidate.
                            We find importance not only in identifying the right skills for our clients but also take into great consideration the culture and environment that best suits both parties.
                        </p>
                        <p>
                            Our company is especially focused on:
                        </p>
                        <ul>
                            <li>Growing candidate careers</li>
                            <li>Growing with our clients as they diversify and seek skilled resources and grow their business</li>
                            <li>Growing staff</li>
                        </ul>
                        <p>
                            Our experience covers various industries within the local and global space, giving us a more in-depth understanding and advantage on industry trends which we bring to every client we work with.
                        </p>
                    </section>

                    <section>
                        <h2>Obligation / Why Recruitment Zone</h2>
                        <p>
                            As a company, we understand the pivotal role recruitment plays in connecting the right fit for both the client and the candidate. With our experience within the recruitment space, we have come to appreciate taking the time to engage with our clients in a manner that allows us to understand the culture of the organization and allows us to forge long-lasting relationships.
                            We pride ourselves on maintaining good relationships with our candidates across the board; we believe this allows us to better match both candidate and client.
                        </p>
                        <p>
                            Our individualistic approach to candidates allows us to meet and match the timelines along with culture fit and skills match that our clients require.
                            Having a meaningful understanding of our client’s culture and our approach to our candidates allows us to cut the cost of our service to you by bringing you only the best fit candidates in the market.
                            We compare the background and experience of the candidate to the job profile by meeting all our candidates face to face for a more personal approach.
                        </p>
                    </section>


                    <section class="red-text">
                        <h2>Recruitment Areas</h2>
                        <p>We consult in all levels of recruitment, namely:</p>
                        <ul>
                            <li>Top Management</li>
                            <li>Middle Management</li>
                            <li>Line Management and</li>
                            <li>The Functionaries</li>
                        </ul>
                    </section>




                    <footer>
                        <!-- You can add a comment section, social media sharing buttons, etc. -->
                    </footer>


                </article>
                <div class="container-fluid">
                    <a class="nav-link" th:href="@{/home}">Back to Home Page</a>
                </div>
            </main>

        </div>

        <div class="container-fluid">
            <div class="row">
                <!--BOTTOM Navbar-->
                <div th:replace="fragments/layout/footer">Footer</div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.7.1/jquery.min.js/}"></script>
</body>
</html>