<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"> <!--  data-bs-theme="dark" -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<!-- TOP Navbar -->
<div th:replace="~{fragments/layout/top-nav}">Top-Nav-Bar</div>

<div class="container-fluid home-page-section" id="body-container">


    <div class="row ">
        <div class="container-fluid">
            <h3 class="h3">Contact Us
            </h3>
            <hr>
        </div>
    </div>

    <!--MESSAGE AREA-->
    <div class="row ">
        <div class="col-12">
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: successMessage(${messageSent})}"></div>
        </div>
    </div>

    <div class="row " id="main-page-section">

        <div class="col-xxl-6 col-xl-5 col-lg-4 col-md-6 ">
            <h5 class="h5 ">Contact Us</h5>
        </div>
        <div class="col-xxl-6 col-xl-5 col-lg-4 col-md-6">

            <form action="#" th:action="@{/Communication/send-message}"
                  th:object="${contactMessage}" method="POST">
                <div class="form-group">
                    <label for="name" class="form-label">Full Name:</label>
                    <input type="text" th:field="${contactMessage.name}" class="form-control" id="name">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" th:field="${contactMessage.email}" class="form-control" id="email">
                    <label for="messageBody" class="form-label">Message:</label>

                    <textarea class="form-control" th:field="${contactMessage.messageBody}"
                              id="messageBody"></textarea>

                    <br>
                    <button class="btn normal-button"
                            hx-indicator="#spinner">
                        Submit
                    </button>
                    <p class='htmx-indicator spinner' id="spinner"></p>

                </div>
            </form>
        </div>

    </div>
</div>

<!--PAGE FOOTER-->
<div th:replace="~{fragments/layout/bottom-nav}">Bottom Nav</div>

<div th:replace="~{fragments/layout/scripts :: scripts}"></div>

</body>
</html>