<div class="container-fluid">

    <div class="row">
        <div class="container-fluid">
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${bindingResult})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${loadAuthoritiesResponse})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveNewEmployeeResponse})}"></div>

        </div>
    </div>

    <form action="#" th:action="@{/Employee/save-employee}" th:object="${employeeDTO}" method="POST">
        <label>
            Employee Name:
            <p th:class="error" th:if="${#fields.hasErrors('first_name')}"
               th:errors="${employeeDTO.first_name}"
            ></p>
            <input type="text" th:field="*{first_name}" placeholder="First Name" class="form-control">
        </label>

        <label>
            Last Name:
            <p th:class="error" th:if="${#fields.hasErrors('last_name')}"
               th:errors="${employeeDTO.last_name}"
            ></p>
            <input type="text" th:field="*{last_name}" placeholder="Last Name" class="form-control">
        </label>

        <label>
            Employee Password:
            <p th:class="error" th:if="${#fields.hasErrors('password')}"
               th:errors="${employeeDTO.password}"
            ></p>
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control">
        </label>

        <label>
            Contact Number:
            <p th:class="error" th:if="${#fields.hasErrors('contact_number')}"
               th:errors="${employeeDTO.contact_number}"
            ></p>

            <input type="text" th:field="*{contact_number}" placeholder="Contact Number" class="form-control">
        </label>

        <!-- Show the list if it's not empty -->
        <label for="role">Select Role:</label>
        <select class="form-select-sm" aria-label=".form-select-sm" id="role" th:field="*{role}">
            <option th:each="role : ${authorities}" th:value="${role}" th:text="${role.getRoleName()}"></option>
        </select>

        <hr/>
        <button class="btn normal-button"
                hx-post="/Employee/save-employee"
                hx-target="#main-page-section"
                hx-swap="innerHTML"
                hx-include="[employeeDTO='employeeDTO']"> Add Employee
        </button>
    </form>


</div>