<div class="container-fluid page-component">

    <div class="row">
        <div class="container-fluid">
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${bindingResult})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${loadAuthoritiesResponse})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveNewEmployeeResponse})}"></div>

        </div>
    </div>

    <form action="#" th:action="@{/Employee/save-employee}" th:object="${employeeDTO}" method="POST">
        <p>Employee Capture</p>
        <div class="form-group">

            <div class="form-group">
                <label for="first_name">
                    First Name:
                </label>
                <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('first_name')}"
                   th:errors="*{first_name}"
                ></p>
                <input type="text" th:field="*{first_name}" id="first_name"
                       placeholder="Enter Name"
                       class="form-control">
            </div>

            <div class="form-group">
                <label for="last_name">Last Name: </label>
                <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('last_name')}"
                   th:errors="*{last_name}"
                ></p>
                <input type="text" id="last_name" class="form-control" th:field="*{last_name}"/>

            </div>


            <div class="form-group">
                <label for="password">
                    Employee Password:
                </label>
                <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"
                ></p>
                <input id="password" type="password" th:field="*{password}" placeholder="Password"
                       class="form-control"/>

            </div>

            <div class="form-group">
                <label for="contact_number">
                    Contact Number:

                </label>
                <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('contact_number')}"
                   th:errors="${employeeDTO.contact_number}"
                ></p>
                <input id="contact_number" type="text" th:field="*{contact_number}" placeholder="Contact Number"
                       class="form-control">

                            </div>


                      <label for="role">Select Role:</label>
                            <select class="form-select" aria-label=".form-select" id="role" th:field="*{role}">
                                <option th:each="role : ${authorities}" th:value="${role}" th:text="${role.getRoleName()}"></option>
                            </select>

                <hr/>
                <button class="btn btn-primary"
                        hx-post="/Employee/save-employee"
                        hx-target="#main-page-section"
                        hx-swap="innerHTML"
                        hx-include="[employeeDTO='employeeDTO']"> Add Employee
                </button>

            </div>
    </form>

</div>

