<div class="container-fluid page-component">

    <div class="container-fluid"><h2>Update Employee</h2></div>


    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findEmployeeByIDResponse})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

    <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveExistingEmployeeResponse})}"></div>


    <div class="container-fluid">
        <form action="#" th:action="@{/Employee/save-updated-employee}" th:object="${employee}" th:method="POST">
            <!-- Hidden input field to include the vacancyID in the POST request -->
            <input type="hidden" th:field="*{employeeID}" />
            <div class="md-10">
                <label for="first_name" >Employee First Name: </label>
                <input type="text" th:field="*{first_name}" class="form-control mb-4 w-25" id="first_name" placeholder="First Name"/>
            </div>

            <div class="md-10">
                <label for="last_name" >Employee Last Name: </label>
                <input type="text" th:field="*{last_name}" class="form-control mb-4 w-25" id="last_name" placeholder="Last Name"/>
            </div>

       <!--     <div class="md-10">
                <label for="last_name" >Email Address: </label>
                <input type="text" th:field="*{last_name}" class="form-control mb-4 w-25" id="last_name" placeholder="Last Name"/>
            </div>-->


            <div class="md-10">
                <label for="contact_number" >Employee Contact Number: </label>
                <input type="text" th:field="*{contact_number}" class="form-control mb-4 w-25" id="contact_number" placeholder="Contact Number"/>
            </div>

            <button class="btn btn-primary"
                    hx-post="/Employee/save-updated-employee"
                    hx-target="#main-page-section"
                    hx-swap="innerHTML"
                    hx-include="[employee='employee']"> Save Updated Employee
            </button>

        </form>

    </div>


</div>