<div class="row">
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findEmployeeByIDResponse})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveExistingEmployeeResponse})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${enableEmployeeResponse})}"></div>

</div>

<div class="container-fluid main-page-section"
     th:each="foundEmployee : ${employee}">

    <div class="container-fluid">
        <div id="vacancy-submission-list">

            <div class="container-fluid">
                <p th:text="*{foundEmployee.username }" >Username</p>


                <table class="table table-striped table-responsive" >

                    <thead>

                    <tr>
                        <th>Employee ID</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status</th>
                        <th>Update Employee</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td th:text="*{foundEmployee.employeeID}"></td>
                        <td th:text="${foundEmployee.username}"></td>
                        <td th:text="${foundEmployee.first_name}"></td>
                        <td th:text="${foundEmployee.last_name}"></td>
                        <td th:text="${foundEmployee.isEnabled}"></td>
                        <td>
                            <form action="#" th:action="@{/Employee/update-employee}" th:method="post">
                                <!-- Hidden input field to include the vacancyID in the POST request -->
                                <input type="hidden" name="vacancyID" th:value="*{foundEmployee.employeeID}"/>
                                <!-- Submit button to trigger the form submission -->
                                <button class="btn normal-button"
                                        hx-post="/Employee/update-employee"
                                        hx-target="#main-page-section"
                                        hx-swap="innerHTML"
                                        hx-include="[vacancyID='vacancyID']">Update Employee
                                </button>
                            </form>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>

