<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Vacancy Application Submission</title>
</head>
<body>
<div>
    <main>
        <section>
            <h5>Application For: <span th:text="${vacancyName}" >Vacancy Name</span>
            </h5>
            <!-- // vacancyName , applicantName    -->
            <hr>
            <p>Hello <span th:text="${applicantName}">John</span></p>
            <p>Thank you for submitting an application for the vacancy.</p>
            <p>An agent will be in touch.</p>
            <p>Visit <a href="https://www.recruitmentzone.co.za">Recruitment Zone</a> to view available roles
                </p>


        </section>
        <footer><span class="text-muted">Recruitment Zone &copy; All Rights Reserved [[${currentYear}]] </span></footer>
    </main>
</div>


</body>
</html>