<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Auto Response</title>
</head>
<body>
<div>
    <p>Hello <span th:text="${User}"></span>,</p>
    <p>Thank you for reaching out to us! We have received your query and will get back to you as soon as possible.</p>
 <!--   <p>Your Query Details:</p>
    <ul>
        <li><strong>Name:</strong> <span th:text="${User}"></span></li>
        <li><strong>Email:</strong> <span th:text="${UserEmail}"></span></li>
        <li><strong>Query:</strong> <span th:text="${UserQuery}"></span></li>
    </ul>-->
    <p>We appreciate your interest and patience.</p>
    <p>Best regards,<br/>Recruitment Zone</p>
</div>
</body>
</html>
