<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<div class="container-fluid">
    <div class="container-fluid">
        <div th:insert="fragments/layout/header">Header</div>
    </div>
    <p th:if="${message}" th:text="${message}"></p>
    <form action="#" th:action="@{/Candidate/create-application}" th:object="${newApplicationDTO}"
          th:method="POST" enctype="multipart/form-data">
        <!-- Debug statement in Thymeleaf template -->

        <label for="vacancyID">Select a Vacancy:</label>

        <select name="vacancyID" id="vacancyID">
            <option th:each="v : ${vacancies}" th:value="${v.vacancyID}" th:text="${v.job_title}"></option>
        </select>
        <br>
        <label for="FirstName">
            First Name:
        </label>
        <input type="text" th:field="${newApplicationDTO.first_name}" id="FirstName" placeholder="Enter First Name"
               class="form-control mb-4 w-25"/>

        <label for="LastName">
            Last Name:
        </label>
        <input type="text" th:field="${newApplicationDTO.last_name}" id="LastName" placeholder="Enter Last Name"
               class="form-control mb-4 w-25"/>
        <label for="idNumber">
            ID Number:
        </label>
        <input type="text" th:field="${newApplicationDTO.id_number}" id="idNumber" placeholder="ID Number"
               class="form-control mb-4 w-25"/>
        <label for="email">
            Email Address:
        </label>
        <input type="email" th:field="${newApplicationDTO.email_address}" id="email" placeholder="Enter Email Address"
               class="form-control mb-4 w-25"/>

        <label for="phoneNumber">
            Phone Number:
        </label>
        <input type="text" th:field="${newApplicationDTO.phone_number}" id="phoneNumber" placeholder="Enter Phone Number"
               class="form-control mb-4 w-25"/>

        <label for="currentProvince">Current Location:
            <select id="currentProvince" th:field="${newApplicationDTO.current_province}">
                <option th:each="province : ${T(za.co.recruitmentzone.util.Enums.Province).values()}"
                        th:value="${province}" th:text="${province}"></option>
            </select>
        </label>
        <label for="CurrentRole">
            Current Role:
        </label>
        <input type="text" th:field="${newApplicationDTO.current_role}" id="CurrentRole" placeholder="Enter Current Role"
               class="form-control mb-4 w-25"/>
        <label for="employer">
            Current Employer:
        </label>
        <input type="text" th:field="${newApplicationDTO.current_employer}" id="employer" placeholder="Enter Current Employer"
               class="form-control mb-4 w-25"/>
        <label for="seniorityLevel">
            Seniority Level:

        </label>
        <input type="text" th:field="${newApplicationDTO.seniority_level}" id="seniorityLevel" placeholder="Enter Seniority Level"
               class="form-control mb-4 w-25">

        <label for="EduLevel">Highest Education Level:
            <select id="EduLevel" th:field="${newApplicationDTO.education_level}">
                <option th:each="statusVal : ${T(za.co.recruitmentzone.util.Enums.EducationLevel).values()}"
                        th:value="${statusVal}" th:text="${statusVal}"></option>
            </select>
        </label>
        <br/>
        <label>Willing to relocate?</label>

        <div class="form-check form-check-inline">
            <input type="radio" th:field="${newApplicationDTO.relocation}" id="relocationYes" value="true" class="form-check-input" />
            <label class="form-check-label" for="relocationYes">Yes</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="radio" th:field="${newApplicationDTO.relocation}" id="relocationNo" value="false" class="form-check-input" />
            <label class="form-check-label" for="relocationNo">No</label>
        </div>
        <br/> <br/>
        <label for="cvAttachment">
            Attach CV:
        </label>
        <input th:type="file" name="cvFile" th:value="${newApplicationDTO.cvFile}" id="cvAttachment"
               class="form-control mb-4 w-25"/>

        <button type="submit" class="btn btn-primary btn-sm mb-3">Submit Application</button>
    </form>
</div>


<div class="container-fluid">
    <!--BOTTOM Navbar-->
    <div th:insert="fragments/layout/footer">Footer</div>

</div>

</div>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.7.1/jquery.min.js/}"></script>
</body>
</html>