<div class="container-fluid right-page-frame">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>


        <!--FILE UPLOAD ERRORS-->
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${saveDocumentResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${createCandidateFileResponse})}"></div>



    </div>


    <form action="#" th:action="@{/Candidate/upload-candidate-document}" th:object="${candidateFileDTO}"
          th:method="post" enctype="multipart/form-data" hx-encoding='multipart/form-data'>


        <!-- Hidden input field to include the candidateID in the POST request -->
        <input type="hidden" name="candidateID" th:field="${candidateFileDTO.candidateID}"
               th:value="${candidate.candidateID}"/>

        <div class="form-group">

            <label for="documentAttachment">Attach Document:</label>
            <p class="alert alert-danger alert-dismissible fade show"
               th:if="*{#fields.hasErrors('documentAttachment')}"
               th:errors="*{documentAttachment}"
            ></p>
            <br>
            <input th:type="file" name="documentAttachment" id="documentAttachment"
                   th:field="*{documentAttachment}"
                   class="form-control "/>
            <label for="candidateDocumentType">Document Type:
            </label>
            <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('documentType')}"
               th:errors="*{documentType}"
            ></p>
            <select class="form-select-sm" aria-label=".form-select-sm" id="candidateDocumentType"
                    th:field="*{documentType}">
                <option th:each="docType : ${T(za.co.recruitmentzone.util.enums.CandidateDocumentType).values()}"
                        th:value="${docType}" th:text="${docType.getPrintableDocType()}"></option>
            </select>
            <br>

            <br>

            <button class="btn normal-button"
                    hx-post="/Candidate/upload-candidate-document"
                    hx-target="#right-page-column"
                    hx-swap="innerHTML"
                    hx-include="[candidateFileDTO='candidateFileDTO']">Add New Document
            </button>


        </div>


    </form>


    <hr/>

    <p>Existing Documents</p>
    <div th:replace="~{fragments/candidate/candidate-fragments :: existingDocuments(${existingDocuments})}"></div>


</div>