<div class="container-fluid right-page-frame" >

    <div class="row">
        <p th:if="${internalServerError}" th:text="${internalServerError}"></p>
        <!--FILE UPLOAD ERRORS-->
        <p th:if="${invalidFileUpload}" th:text="${invalidFileUpload}"></p>
        <p th:if="${saveDocumentResponse}" th:text="${saveDocumentResponse}"></p>
        <p th:if="${createCandidateFileResponse}" th:text="${createCandidateFileResponse}"></p>

    </div>



    <form action="#" th:action="@{/Candidate/upload-candidate-document}" th:object="${candidateFileDTO}"
          th:method="post" enctype="multipart/form-data" hx-encoding='multipart/form-data'>
        <div class="form-group">
            <!-- Hidden input field to include the candidateID in the POST request -->
            <input type="hidden" name="candidateID" th:field="${candidateFileDTO.candidateID}"
                   th:value="${candidate.candidateID}"/>

            <label for="documentAttachment">Attach Document:</label>
            <input type="file" name="documentAttachment" id="documentAttachment"
                   class="form-control "/>
            <br>
            <label for="candidateDocumentType">Document Type:
            </label>
            <select class="form-select-sm" aria-label=".form-select-sm" id="candidateDocumentType" th:field="${candidateFileDTO.documentType}">
                <option th:each="docType : ${T(za.co.recruitmentzone.util.enums.CandidateDocumentType).values()}"
                        th:value="${docType}" th:text="${docType.getPrintableDocType()}"></option>
            </select>
            <br>
            <button type="submit" class="btn normal-button"
                    hx-post="/Candidate/upload-candidate-document"
                    hx-target="#right-page-section"
                    hx-swap="innerHTML" >Add New Document
            </button>
        </div>

    </form>

    <hr/>

    <p>Existing Documents</p>
    <div th:replace="~{fragments/candidate/candidate-fragments :: existingDocuments(${existingDocuments})}"></div>


</div>