<div class="container-fluid" th:fragment="candidateView(candidate)">
    <h2>Candidate Profile</h2>
    <div>
        <label>Candidate ID:</label>
        <span th:text="${candidate.candidateID}"></span>
    </div>

    <div>
        <label>First Name:</label>
        <span th:text="${candidate.first_name}"></span>
    </div>

    <div>
        <label>Last Name:</label>
        <span th:text="${candidate.last_name}"></span>
    </div>


    <div>
        <label>ID Number:</label>
        <span th:text="${candidate.id_number}"></span>
    </div>


    <div>
        <label>Email Address:</label>
        <span th:text="${candidate.email_address}"></span>
    </div>


    <div>
        <label>Phone Number:</label>
        <span th:text="${candidate.phone_number}"></span>
    </div>


    <div>
        <label>Province:</label>
        <span th:text="${candidate.current_province}"></span>
    </div>

    <div>
        <label>Current Role:</label>
        <span th:text="${candidate.current_role}"></span>
    </div>


    <div>
        <label>Current Employer:</label>
        <span th:text="${candidate.current_employer}"></span>
    </div>


    <div>
        <label>Seniority Level:</label>
        <span th:text="${candidate.seniority_level}"></span>
    </div>

    <div>
        <label>Willing to relocate:</label>
        <span th:text="${candidate.relocation}"></span>
    </div>


    <div>
        <label>Education Level:</label>
        <span th:text="${candidate.education_level}"></span>
    </div>

    <div>
        <label>Total Applications:</label>
      <!--  <span th:text="${candidate.cvFilePath}"></span>-->
    </div>



  <!-- Repeat this structure for other candidate information -->

    <div>
        <label>View Documents:</label>
        <form th:action="@{/Candidate/view-candidate-documents}" th:method="post">
            <input type="hidden" name="candidateID" th:value="${candidate.candidateID}"/>
            <button type="submit" class="btn btn-primary">View Docs</button>
        </form>
    </div>
    <br>
</div>

<!-- | TRY THIS | -->

<div class="container-fluid" th:fragment="existingNotes(existingNotes)">
   <h2>Candidate Comments</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Date Captured</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="note : ${existingNotes}">
            <td th:text="${#temporals.format(note.dateCaptured, note.dateCaptured.isBefore(#temporals.createNow()) ? 'yyyy-MM-dd HH:mm' : 'yyyy-MM-dd')}"></td>
            <td th:text="*{note.comment}"></td>
            <!-- <td th:text="*{note.dateCaptured}"></td>
             <td th:text="*{note.comment}"></td>-->
        </tr>
        </tbody>
    </table>

</div>


<div class="container-fluid" th:fragment="add-note-fragment(candidateNote)">
    <form action="#" th:action="@{/Candidate/save-candidate-note}" th:object="${candidateNote}"
          th:method="post">
        <div class="form-group">
            <!-- Hidden input field to include the candidateID in the POST request -->
            <input type="hidden" name="candidateID" th:field="${candidateNote.candidateID}" th:value="${candidateID}" />
            <p th:text="${noteSaved} ? 'Note Saved' : ''"></p>

            <hr/>
            <label for="comment">
                Comment:
            </label>
            <textarea class="form-control mb-4 text-black-50" th:field="${candidateNote.comment}" id="comment"></textarea>
        </div>
        <!-- Submit button to trigger the form submission -->
        <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
</div>


<div class="container-fluid" th:fragment="existingDocuments(existingDocuments)">
    <ul class="key-value-list"  th:each="document : ${existingDocuments}">
        <li class="key-value-item"  >
            <span>Document Type</span>
            <span th:text="${document.documentType}"></span>
        </li>

        <li class="key-value-item"  >
            <span>Location Stored</span>
            <span th:text="${document.documentLocation}"></span>
        </li>

        <li class="key-value-item">
            <a th:href="@{/Document/download-document/{fileID}(fileID=${document.fileID})}" class="download-button">Download</a>
        </li>
    </ul>
</div>

<table class="table table-bordered table-striped" th:fragment="candidateTable(candidates)">
    <thead class="table-dark">
    <tr>
        <th>Candidate ID</th>
        <th>Candidate Name</th>
        <th>View Candidate</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candidate : ${candidates}">
        <td th:text="${candidate.candidateID}"></td>
        <td th:text="${candidate.first_name}"></td>
        <td>
            <form th:action="@{/Candidate/view-candidate}" th:method="post">
                <!-- Hidden input field to include the vacancyID in the POST request -->
                <input type="hidden" name="candidateID" th:value="*{candidate.candidateID}"/>
                <!-- Submit button to trigger the form submission -->
                <button type="submit" class="btn btn-primary">View Candidate</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>






