<div class="container-fluid" th:fragment="candidateView(candidate)">
    <h2>Candidate Profile</h2>
    <div>
        <label>Candidate ID:</label>
        <span th:text="${candidate.candidateID}"></span>
    </div>

    <div>
        <label>First Name:</label>
        <span th:text="${candidate.first_name}"></span>
    </div>

    <div>
        <label>Last Name:</label>
        <span th:text="${candidate.last_name}"></span>
    </div>


    <div>
        <label>ID Number:</label>
        <span th:text="${candidate.id_number}"></span>
    </div>


    <div>
        <label>Email Address:</label>
        <span th:text="${candidate.email_address}"></span>
    </div>


    <div>
        <label>Phone Number:</label>
        <span th:text="${candidate.phone_number}"></span>
    </div>


    <div>
        <label>Province:</label>
        <span th:text="${candidate.current_province}"></span>
    </div>

    <div>
        <label>Current Role:</label>
        <span th:text="${candidate.current_role}"></span>
    </div>


    <div>
        <label>Current Employer:</label>
        <span th:text="${candidate.current_employer}"></span>
    </div>


    <div>
        <label>Seniority Level:</label>
        <span th:text="${candidate.seniority_level}"></span>
    </div>

    <div>
        <label>Willing to relocate:</label>
        <span th:text="${candidate.relocation}"></span>
    </div>


    <div>
        <label>Education Level:</label>
        <span th:text="${candidate.education_level}"></span>
    </div>

    <div>
        <label>Total Applications:</label>
        <!--  <span th:text="${candidate.cvFilePath}"></span>-->
    </div>


    <!-- Repeat this structure for other candidate information -->

    <div>
        <form th:action="@{/Candidate/view-candidate-documents}" th:method="post">
            <input type="hidden" name="candidateID" th:value="${candidate.candidateID}"/>

            <button class="btn normal-button"
                    hx-post="/Candidate/view-candidate-documents"
                    hx-target="#right-page-column"
                    hx-swap="innerHTML"
                    hx-include="[candidateID='candidateID']">View Documents
            </button>
        </form>
    </div>
    <br>
</div>


<div class="container-fluid" th:fragment="existingNotes(existingNotes)">
    <h2>Candidate Comments</h2>
    <table class="table ">
        <thead>
        <tr>
            <th>Date Captured</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="note : ${existingNotes}">
            <td th:text="${#temporals.format(note.dateCaptured, note.dateCaptured.isBefore(#temporals.createNow()) ? 'yyyy-MM-dd HH:mm' : 'yyyy-MM-dd')}"></td>
            <td th:text="*{note.comment}"></td>
            <!-- <td th:text="*{note.dateCaptured}"></td>
             <td th:text="*{note.comment}"></td>-->
        </tr>
        </tbody>
    </table>

</div>


<div class="container-fluid" th:fragment="add-note-fragment(candidateNoteDTO)">
    <form action="#" th:action="@{/Candidate/save-candidate-note}" th:object="${candidateNoteDTO}"
          th:method="post">
        <div class="form-group">
            <!-- Hidden input field to include the candidateID in the POST request -->
            <input type="hidden" name="candidateID" th:field="${candidate.candidateID}"
                   th:value="${candidate.candidateID}"/>
            <div th:insert="~{fragments/layout/response-messages :: successMessage(${noteSaved})}"></div>

            <label for="comment">
                Comment:
            </label>
            <textarea class="form-control mb-4 text-black-50" th:field="${candidateNoteDTO.comment}"
                      id="comment"></textarea>
        </div>

        <button class=" btn normal-button"
                hx-post="/Candidate/save-candidate-note"
                hx-target="#main-page-section"
                hx-swap="innerHTML"
                hx-include="[candidateID='candidateID']">Add Note
        </button>


    </form>
</div>


<div class="container-fluid" th:fragment="existingDocuments(existingDocuments)">

    <p th:if="${findCandidateDocumentsResponse}" th:text="${findCandidateDocumentsResponse}"></p>

    <ol class="list-group" th:each="document, documentIndex : ${existingDocuments}">
        <li class="list-group-item" >
            <p th:text="${'Document Number: '+ documentIndex.index }"></p>
            <p th:text="${'Document Type: ' + document.convertDocType}"></p>
            <a class="download-button btn btn-light btn-outline-dark"
               th:href="@{/Document/download-document/{fileID}(fileID=${document.fileID})}">
                Download
            </a>
        </li>
    </ol>


</div>

