<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"> <!--  data-bs-theme="dark" -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<!-- TOP Navbar -->
<div th:replace="~{fragments/layout/top-nav}">Top-Nav-Bar</div>

<div class="container-fluid home-page-section" id="body-container">

    <!--MAIN PAGE SECTION -->

    <div class="row-12 ">

        <!-- PAGE HEADING -->

        <div class="container-fluid">
            <h3> Candidate Administration
            </h3>
            <hr>
        </div>

        <!--MESSAGE AREA-->

        <div class="container-fluid">
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findAllCandidatesResponse})}"></div>
            <div th:insert="~{fragments/layout/response-messages :: genericMessage(${creationOutcome})}"></div>

        </div>


        <!--PAGE CONTENT -->

        <div class="container-fluid">


            <div class="row">


                <!--LEFT PAGE COLUMN -->


                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 left-page-frame">

                    <div class="container-fluid " id="left-page-column"  th:fragment="candidate-admin-list">
                       <!-- <form class="container d-none d-md-block" action="#" th:action="@{/Candidate/add-candidate}" th:method="post">
                            <button class="btn btn-outline-secondary"
                                    hx-post="/Candidate/add-candidate"
                                    hx-target="#main-page-section"
                                    hx-swap="innerHTML">Create Candidate
                            </button>
                        </form>-->
                        <a      class="btn btn-outline-secondary"
                                hx-post="/Candidate/add-candidate"
                                hx-target="#main-page-section"
                                hx-swap="innerHTML" >Create Candidate

                        </a>

                        <br>
                        <!--LIST VIEW -->
                    <!--    <div class="my-card custom-border " th:each="candidate : ${candidateList}">

                            <p th:text="*{'Candidate First Name: ' + candidate.first_name}"
                               th:value="${candidate}"></p>


                            <div class="dropdown dropend">

                                &lt;!&ndash;<button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">

                                </button>&ndash;&gt;
                                <button type="button" class="btn btn-sm dropdown-toggle drop-down-button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage Candidate
                                </button>


                                <div id="candidate-admin-list"
                                     th:insert="~{fragments/candidate/candidate-list:: listOptions(${candidate})}">
                                    Candidate List
                                </div>


                            </div>
                            <br/>
                        </div>
-->
                        <!--TABLE VIEW -->

                        <table class="table table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>
                                    <a class="aRef"
                                       th:if="${currentPage != i}"
                                       th:href="@{'/Candidate/paginatedCandidates/' + ${currentPage}+ '?sortField=created&sortDir=' + ${reverseSortDir}}"
                                       onclick="loadHTMXFragment(this.href, 'left-page-column'); return false;"
                                    >Date Created
                                    </a>
                                </th>
                                <th>Name</th>
                                <th>Manage</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="candidate : ${candidateList}">
                                <!--                                <td th:text="*{vacancy.created}"></td>-->
                                <td th:text="${#temporals.format(candidate.created, 'dd-MM-yyyy HH:mm')}"></td>
                                <td th:text="*{candidate.first_name}"></td>
                                <td>

                                    <button type="button" class="btn btn-sm dropdown-toggle drop-down-button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        Manage Candidate
                                    </button>


                                    <div id="candidate-admin-list"
                                         th:insert="~{fragments/candidate/candidate-list:: listOptions(${candidate})}">
                                        Candidate
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <div class="col-sm-1" th:if="${totalPages > 1}" style="display: inline;">
					        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
					        	<a class="btn btn-secondary"
                                   th:if="${currentPage != i}"
                                   th:href="@{'/Candidate/paginatedCandidates/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                                   onclick="loadHTMXFragment(this.href, 'left-page-column'); return false;"
                                   th:text="${i}">
                                </a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span>
					    </span>

                        </div>


                    </div>

                </div>

                <!--    CENTER  PAGE COLUMN -->


                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                        <div class="container-fluid " id="main-page-section">
                            <!--RESPONSE TEMPLATE-->
                            <div th:insert="~{fragments/layout/response-messages :: genericMessage(${applicationOutcome})}"></div>
                            <div th:insert="~{fragments/layout/response-messages :: genericMessage(${createCandidateApplicationResponse})}"></div>
                        </div>
                    </div>


                    <!--RIGHT PAGE LIST-->
                    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 ">
                        <div class="container-fluid" id="right-page-column" >
                        </div>
                    </div>


            </div>


        </div>

    </div>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</div>
<!--BOTTOM Navbar-->
<div th:replace="~{fragments/layout/bottom-nav}">Bottom Nav</div>

<div th:replace="~{fragments/layout/scripts :: scripts}"></div>

</body>
</html>