<div class="container-fluid right-page-frame" th:fragment="candidateNotes(existingNotes)">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${loadCandidateResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    </div>

    <table class="table table-hover table-responsive-sm" >
        <!--<table class="table">-->
        <thead >
        <tr>
            <th>Date Captured</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>

        <!-- Display vacancy application -->
        <tr th:each="note : ${existingNotes}">
            <td th:text="${#temporals.format(note.dateCaptured, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="*{note.comment}"></td>
            <!-- <td th:text="*{note.dateCaptured}"></td>
             <td th:text="*{note.comment}"></td>-->
        </tr>

        </tbody>
    </table>
</div>