<div class="container-fluid main-page-section" >

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${addCandidateNoteResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveCandidateResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    </div>


    <div>
        <div th:replace="~{fragments/candidate/candidate-fragments :: candidateView(${candidate})}"></div>
    </div>

    <div>
        <div th:replace="~{fragments/candidate/candidate-fragments :: existingNotes(${existingNotes})}"></div>
    </div>

    <div>
        <div th:replace="~{fragments/candidate/candidate-fragments :: add-note-fragment(${candidateNote})}"></div>
    </div>
</div>

