<div class="container-fluid main-page-section" th:fragment="candidateFragment">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${addCandidateNoteResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${creationOutcome})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findCandidateResponse})}"></div>

        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveExistingEmployeeResponse})}"></div>

    </div>

    <div class="container-fluid" th:fragment="candidateView(candidate)"
         th:object="${candidate}">
        <h2>Candidate Profile</h2>
        <!--
               <div class="row">
                 <div class="col-6">
                     <label>:</label>
                 </div>
                 <div class="col-6">
                     <span th:text="*{___}"></span>
                 </div>
             </div>
             -->
        <div class="row">
            <div class="col-6">
                <label>Candidate ID:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.candidateID}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>First Name:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.first_name}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Last Name:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.last_name}"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label>ID Number:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.id_number}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Email Address:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.email_address}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Phone Number:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.phone_number}"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label>Province:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.current_province}"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label>Current Role:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.current_role}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Employer:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.current_employer}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Seniority:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.seniority_level}"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label>Relocation:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.relocation}"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <label>Education Level:</label>
            </div>
            <div class="col-6">
                <span th:text="${candidate.printEducationLevel()}"></span>
            </div>
        </div>


        <br>


        <div>
            <form th:action="@{/Candidate/view-candidate-documents}" th:method="post">
                <input type="hidden" name="candidateID" th:value="${candidate.candidateID}"/>

                <button class="btn btn-outline-secondary"
                        hx-post="/Candidate/view-candidate-documents"
                        hx-target="#right-page-column"
                        hx-swap="innerHTML"
                        hx-include="[candidateID='candidateID']">View Documents
                </button>
            </form>
        </div>
        <br>
    </div>

    <div class="container-fluid">
        <h2>Candidate Comments</h2>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${noteSaved})}"></div>

        <div class="container-fluid">
            <table class="table ">
                <thead>
                <tr>
                    <th>
                        <a class="aRef"
                           th:if="${currentPage != i}"
                           th:href="@{'/Candidate/paginatedCandidateNotes/' + ${candidate.candidateID} + '/'  + ${currentPage}+ '?sortField=dateCaptured&sortDir=' + ${reverseSortDir}}"
                           onclick="loadHTMXFragment(this.href, 'main-page-section'); return false;"
                        >Date Created
                        </a>
                    </th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="note : ${existingNotes}">
                    <td th:text="${#temporals.format(note.dateCaptured, note.dateCaptured.isBefore(#temporals.createNow()) ? 'yyyy-MM-dd HH:mm' : 'yyyy-MM-dd')}"></td>
                    <td th:text="*{note.comment}"></td>
                    <!-- <td th:text="*{note.dateCaptured}"></td>
                     <td th:text="*{note.comment}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-1" th:if="${totalPages > 1}" style="display: inline;">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a class="btn btn-secondary"
                           th:if="${currentPage != i}"
                           th:href="@{'/Candidate/paginatedCandidateNotes/' + ${candidate.candidateID} + '/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                           onclick="loadHTMXFragment(this.href, 'main-page-section'); return false;" th:text="${i}">
                        </a>  <span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
        </div>

    </div>

    <div class="container-fluid" th:object="${candidateNoteDTO}">
        <form action="#" th:action="@{/Candidate/save-candidate-note}"
              th:method="post">
            <div class="form-group">
                <!-- Hidden input field to include the candidateID in the POST request -->
                <input type="hidden" name="candidateID" th:field="${candidate.candidateID}"
                       th:value="${candidate.candidateID}"/>
                <label for="comment">
                    Comment:
                </label>
                <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('comment')}"
                   th:errors="${candidateNoteDTO.comment}"
                ></p>
                <textarea class="form-control mb-4 text-black-50" th:field="${candidateNoteDTO.comment}"
                          id="comment"></textarea>
            </div>

            <button class=" btn btn-outline-secondary"
                    hx-post="/Candidate/save-candidate-note"
                    hx-target="#main-page-section"
                    hx-swap="innerHTML"
                    hx-include="[candidateNoteDTO='candidateNoteDTO']">Add Note
            </button>
        </form>
    </div>

</div>

