<div class="container-fluid" th:fragment="existingDocuments(existingDocuments)">
    <p>Existing Documents</p>
<!--    <p th:if="${findCandidateDocumentsResponse}" th:text="${findCandidateDocumentsResponse}"></p>
    -->
    <p th:if="${findVacancyDocumentsResponse}" th:text="${findVacancyDocumentsResponse}"></p>

    <ol class="list-group" th:each="document, documentIndex : ${existingDocuments}">
        <li class="list-group-item" >
            <p th:text="${'Document Number: '+ documentIndex.index }"></p>
            <p th:text="${'Document Type: ' + document.convertDocType}"></p>
            <a class="download-button btn btn-light btn-outline-dark"
               th:href="@{/Document/download-document/{fileID}(fileID=${document.fileID})}">
                Download
            </a>
        </li>
    </ol>


</div>

