:root {
    --bs-primary: #007bff; /* Your custom primary color */
    --bs-btn-primary-bg: var(--bs-primary); /* Button background color */
    --bs-btn-primary-color: #fff; /* Button text color */
    --bs-btn-primary-border: #007bff; /* Button border color */


    border-color: var(--bs-btn-primary-border);


}

/* NAVBAR STYLING */


/* MAIN PAGE SECTION STYLES */

body {
/*           background-color: var(--bs-border-color);*/
}

.contact-us {
    position: relative;
    top: 50%;
    width: 100lvh;
    text-align: center;
    font-size: 18px;
}


.full-page-frame {
    /*      <select class="form-select form-select-sm" aria-label=".form-select-sm"    */
}

.main-page-section {
    max-height: 75vh;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin: 0;*/
}




.home-page-section {
    border: 1px solid #ccc;
    background-color: var(--bs-border-color);
    border-radius: 10px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
}

.blog-main-page-section {
 /*   max-height: 75vh;*/
    overflow: auto;
    border: 2px solid #ccc;
    background-color: var(--bs-border-color);
    border-radius: 10px;
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin: 0;*/
}


/*.main-page-section-contact{
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;

}*/



.left-page-frame {
    max-height: 75vh;
    overflow: auto;
    padding: 25px;
/*    border: 2px solid #ccc;
    border-radius: 10px;*/


    /*
       min-height: 80vh;
       max-height: 80vh;

       border: 2px solid #ccc;


       display: flex;
       */
}





.right-page-frame {
    max-height: 75vh;
    padding: 10px;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    /* border: 1px solid #ccc;  Optional: Add border for visual clarity */
    /*    min-height: 80vh;
        max-height: 80vh;
        overflow: auto;
        border: 2px solid #ccc;
        border-radius: 10px;*/
}


/* Add a card effect for articles */

/* BUTTONS */


/* Apply styles to the .drop-down-button class */
.drop-down-button {
    background-color: var(--bs-btn-primary-bg);
    color: var(--bs-btn-primary-color);
    border-color: var(--bs-btn-primary-border);
}



/*.drop-down-button:hover {
    background-color: var(--bs-btn-primary-bg); !*  Change background color to light blue on hover *!
    box-shadow: 0 0 0 2px black; !* Add a black outline *!
}*/

.normal-button {
    /* Styles to match btn-light and btn-outline-dark */
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Dark text color */
    /*   border-color: #343a40;  Dark border color */
}

.normal-button:hover {
    box-shadow: 0 0 0 2px black; /* Add a black outline */
}

.my-card.custom-border {
    margin: 10px;
    padding: 15px 15px 15px 15px;
    border: 2px solid #ccc; /* Thin shade of grey border */
    border-radius: 10px; /* Semi-rounded corners */
}




/* Fake image */
.fakeimg {
    /*  background-color: #aaa;
      width: 100%;
      padding: 20px;*/
}

.blog-post {
    /* border: 1px solid #ddd;
     padding: 15px;
     margin: 10px;
     background-color: #f9f9f9;*/
}

.blog-title {
    /*  font-size: 24px;
      color: #333;*/
}

.blog-description {
    /*  font-style: italic;
      color: #555;*/
}

.blog-content {
    /*  line-height: 1.6;*/
}

.blog-footer {
    /*  margin-top: 10px;
      color: #777;*/
}

.metadata {
    /*  font-size: 12px;*/
}








