/* CSS STYLES */

/* GLOBAL STYLES */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}


.footer {
  position: absolute;
  bottom: 0;
  position: relative;
  right: 100px;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.loginButton {
position: relative;
right: 100px;
}

.red-text {
  color: red;
}

/* Default styles for larger screens */
.navbar-large {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Default styles for smaller screens */
.navbar-small {
  display: none;
}

/* Styles for the burger menu */
#menu-toggle {
  display: none;
}

.menu-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px; /* Adjust as needed based on your design */
  left: 0;
  background-color: #f9f9f9;
  padding: 10px;
  width: 100%;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .navbar-large {
    display: none;
  }

  .navbar-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu-toggle:checked + .menu-content {
    display: flex;
  }
}

.vacancy-card {
  margin-bottom: 20px; /* Adjust this value to set the desired space between cards */
}

/* Example CSS Styles */
.blog-post {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  background-color: #f9f9f9;
}

.blog-title {
  font-size: 24px;
  color: #333;
}

.blog-description {
  font-style: italic;
  color: #555;
}

.blog-content {
  line-height: 1.6;
}

.blog-footer {
  margin-top: 10px;
  color: #777;
}

.metadata {
  font-size: 12px;
}

.back-to-blogs {
  margin-top: 20px;
}


