<div class="container-fluid main-page-section">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    </div>


    <form action="#" th:action="@{/Blog/save-blog}" th:object="${blogDTO}" method="POST" class="form">
        <div class="form-group">

            <input type="hidden" name="name" th:field="*{employee}" th:value="${#authentication.principal.username}"/>

            <div class="md-10">
                Welcome: <span th:sec:authentication="name">username</span>
            </div>
            <hr/>

            <label for="blog_title">
                Blog Title:
                <p th:class="error" th:if="${#fields.hasErrors('blog_title')}" th:errors="${blog.blog_title}"
                ></p>
            </label>

            <input type="text" id="blog_title" th:field="*{blog_title}" placeholder="Enter The Title"
                   class="form-control">


            <label for="description">
                Blog Description:
                <p th:class="error" th:if="${#fields.hasErrors('blog_description')}"
                   th:errors="${blog.blog_description}"
                ></p>
            </label>
            <input id="description" type="text" th:field="*{blog_description}"
                   placeholder="Enter The Description" class="form-control ">


            <label for="body">
                Body:
                <p th:class="error" th:if="${#fields.hasErrors('body')}"
                   th:errors="${blog.body}"
                ></p>
            </label>
            <textarea class="form-control  mb-4 text-black-50" th:field="*{body}" id="body"
            ></textarea>


            <label for="publish_date">Publish Date:
                <p th:class="error" th:if="${#fields.hasErrors('publish_date')}"
                   th:errors="${blog.publish_date}"
                ></p></label>
            <input type="date" th:field="*{publish_date}" class="form-control  "
                   id="publish_date" placeholder="Publish Date"/>


            <label for="expirationDate">Expiration Date:
                <p th:class="error" th:if="${#fields.hasErrors('end_date')}"
                   th:errors="${blog.end_date}"
                ></p></label>
            <input type="date" th:field="*{end_date}" class="form-control "
                   id="expirationDate" placeholder="Expiration Date:"/>

            <br/>
            <button class="btn normal-button"
                    hx-post="/Blog/save-blog"
                    hx-target="#main-page-section"
                    hx-swap="innerHTML"
                    hx-include="[blogDTO='blogDTO']">Save Blog
            </button>
        </div>
    </form>

</div>

