<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"> <!--  data-bs-theme="dark" -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">


    <title>Recruitment Zone</title>
</head>
<body>

<!-- TOP Navbar -->

<div th:replace="~{fragments/layout/top-nav}">Top-Nav-Bar</div>

<div class="container-fluid home-page-section" id="body-container">

    <div class="row ">
        <div class="container-fluid">
            <h3 class="h3">Create Blog
            </h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    </div>

    <div class="row">
        <div class="container-fluid" id="blog-create-section">
            <div class="form-group">
                <form action="#" th:action="@{/Blog/save-blog}" th:object="${blogDTO}" method="POST" class="form">
                    <div class="col-12">


                        <input type="hidden" name="name" th:field="*{employee}"
                               th:value="${#authentication.principal.username}"/>

                        <div class="md-10">
                            Welcome: <span th:sec:authentication="name">username</span>
                        </div>
                        <hr/>

                        <!--   class="alert alert-danger alert-dismissible fade show"    // th:class="error"      -->
                        <div class="row">
                            <div class="col-4">
                                <label for="blog_title">
                                    Blog Title:
                                </label>

                                <p class="alert alert-danger alert-dismissible fade show"
                                   th:if="${#fields.hasErrors('blog_title')}"
                                   th:errors="*{blog_title}"
                                ></p>
                                <input type="text" id="blog_title" th:field="*{blog_title}"
                                       placeholder="Enter The Title"
                                       class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <label for="description">
                                    Blog Description:
                                </label>
                                <p class="alert alert-danger alert-dismissible fade show"
                                   th:if="${#fields.hasErrors('blog_description')}"
                                   th:errors="*{blog_description}"
                                ></p>
                                <input id="description" type="text" th:field="*{blog_description}"
                                       placeholder="Enter The Description" class="form-control ">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <p class="alert alert-danger alert-dismissible fade show"
                                   th:if="${#fields.hasErrors('publish_date')}"
                                   th:errors="*{publish_date}"
                                ></p>
                                <label for="publish_date">Publish Date:
                                    <input type="date" th:field="*{publish_date}" class="form-control  "
                                           id="publish_date" placeholder="Publish Date"/>
                                </label>


                                <p class="alert alert-danger alert-dismissible fade show"
                                   th:if="${#fields.hasErrors('end_date')}"
                                   th:errors="*{end_date}"
                                ></p>
                                <label for="expirationDate">Expiration Date:
                                    <input type="date" th:field="*{end_date}" class="form-control "
                                           id="expirationDate" placeholder="Expiration Date:"/>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="col-12">
                            <label for="blogBody">
                                Body:
                                <p class="alert alert-danger alert-dismissible fade show"
                                   th:if="${#fields.hasErrors('body')}"
                                   th:errors="*{body}"
                                ></p>
                                <textarea class="form-control  mb-4 text-black-50" th:field="*{body}" id="blogBody"
                                ></textarea>
                            </label>
                        </div>

                        <br/>
                        <!--      <button class="btn btn-secondary"
                                      hx-post="/Blog/save-blog"
                                      hx-target="#body-container"
                                      hx-swap="innerHTML"
                                      id="submit">Save Blog
                              </button>-->
                        <button class="btn btn-secondary"
                                id="submit">Save Blog
                        </button>
                        <a class="btn btn-secondary" th:href="@{/Blog/blog-administration}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<!--BOTTOM Navbar-->
<div th:replace="~{fragments/layout/bottom-nav}">Bottom Nav</div>

<div th:replace="~{fragments/layout/scripts :: scripts}"></div>

<script>

    var editor;
    /*
    ,{
                    removePlugins: [ 'Heading', 'Link', 'CKFinder' ],
                    toolbar: [ 'bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote' ]
                }
     */

    ClassicEditor
        .create(document.querySelector('#blogBody'))
        .then(newEditor => {
            editor = newEditor;
            //console.log(editor.getData)

        })
        .catch(error => {
            console.error(error);
        });

    document.querySelector('#submit').addEventListener('click', () => {

        const editorData = editor.getData();

        //console.log(editorData)

        document.querySelector('#blogBody').value = editorData;


    });

</script>
</body>
</html>