<div class="container">
      <main th:fragment="blogView(blog)">
        <article class="blog-post">
            <!-- Blog Title -->
            <header class="blog-title" th:text="${blog.blog_title}">
                <!-- Customize metadata as needed -->
            </header>

            <!-- Blog Description -->
            <section class="blog-description" th:text="${blog.blog_description}">
            </section>

            <!-- Blog Body/Content -->
            <section class="blog-content" th:text="${blog.body}">
                <!-- Main content of your blog post -->
                <!-- Add more content as needed, e.g., images, lists, etc. -->
            </section>

            <!-- Footer Section -->
            <footer class="blog-footer">
                <!-- Additional elements like comment section, social media buttons, etc. can be added here -->

                <!-- Publish Date -->
                <p class="metadata publish-date" th:text="${blog.publish_date}">Publish Date: </p>

                <!-- Author -->
                <p class="metadata author" th:text="${author}">Author: </p>
            </footer>
        </article>

        <!-- Back to Blogs Link -->
        <div class="container-fluid back-to-blogs">
            <a class="nav-link" th:href="@{/Blog/blogs}">Back to blogs</a>
        </div>
    </main>
</div>





