<div class="container-fluid border border-dark" th:fragment="blogCard(blog)" style="padding: 10px;">

    <article class="blog-post">
        <header>
            <h1 th:text="${blog.blog_title}">Blog Title</h1>
        <!--    <p th:text="${blog.employeeID}">by Author ID</p>-->
            <p th:text="${blog.publish_date}">Published on January 1, 2023</p>
        </header>
        <p th:text="${blog.blog_description}">Blog Description.</p>
        <hr>
        <form th:action="@{/Blog/view-blog}" th:method="post">
            <!-- Hidden input field to include the vacancyID in the POST request -->
            <input type="hidden" name="blogID" th:value="*{blog.blogID}"/>
            <!-- Submit button to trigger the form submission -->
            <button type="submit" class="btn btn-primary">View Blog</button>
        </form>
    </article>
</div>
