<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>
<div class="container-fluid">

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <!--TOP Navbar-->
                <div th:replace="fragments/layout/header">Header</div>
            </div>
        </div>

        <!--    <div class="container-fluid">
                ABOVE CARD GROUP
            </div>-->
        <div class="container-fluid">
            <div class="container-fluid">
                <h3>Blogs</h3>
                <hr>
            </div>

            <div class="container">
                <div class="row col-auto" th:each="blog: ${blogs}">
                    <div class="col-md-8">
                        <div th:insert="fragments/blog/blog-fragment :: blogCard(${blog})">
                        </div>

                    </div>

                </div>
            </div>


<!--            <div class="container-fluid border border-dark">
                <header>
                    <h1>Blog Title</h1>
                    <p>by Author Name</p>
                    <p>Published on January 1, 2023</p>
                </header>

                <article>
                    <h1>Blog Post Title</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac risus ut elit luctus congue.
                        Integer nec ullamcorper elit, sit amet tempor dui. Proin nec metus sit amet massa cursus
                        malesuada. Curabitur non nisl in velit gravida convallis. Duis ultricies sodales leo, eu cursus
                        justo vestibulum non.
                    </p>

                    <p>
                        Ut vulputate metus at lectus semper, at varius mi consequat. In hac habitasse platea dictumst.
                        Phasellus venenatis ipsum at neque fringilla, id tincidunt est commodo. Nulla facilisi.
                    </p>

                    &lt;!&ndash; More content goes here &ndash;&gt;

                </article>

                <footer>
                    <p>Published on January 1, 2023</p>
                </footer>
            </div>-->
        </div>

        <div class="container-fluid">
            <div class="row">
                <!--BOTTOM Navbar-->
                <div th:replace="fragments/layout/footer">Footer</div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.7.1/jquery.min.js/}"></script>
</body>
</html>