<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>

<div class="container-fluid">
    <div th:insert="fragments/layout/header">Header</div>

    <div class="container-fluid"><h2>View Blog</h2></div>
    <hr/>
<div class="container-fluid">
    <form action="#" th:action="@{/save-updated-blog}" th:object="${blog}" th:method="POST">
        <!-- Hidden input field to include the vacancyID in the POST request -->
        <input type="hidden" name="blogID" th:field="*{blogID}" />
        <div class="md-10">
            <label for="title"  >Blog Title: </label>
            <input type="text" th:field="*{blog_title}" class="form-control mb-4 w-25" id="title" placeholder="Blog Title"/>

            <label for="description"  >Blog Description: </label>
            <input type="text" th:field="*{blog_description}" class="form-control mb-4 w-25" id="description" placeholder="Blog Title"/>

            <label for="body"  >Body: </label>
            <input type="text" th:field="*{body}" class="form-control mb-4 w-25" id="body" placeholder="Blog Title"/>

        </div>
        <button type="submit" class="btn btn-primary">Save Updated Blog</button>
    </form>

</div>


    <!--BOTTOM Navbar-->
    <div th:insert="fragments/layout/footer">Footer</div>

</div>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>