<div class="container-fluid main-page-section">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findBlogResponse})}"></div>
    </div>


    <form id="blogForm" action="#" th:action="@{/Blog/save-updated-blog}" th:object="${blog}" th:method="POST">
        <!-- Hidden input field to include the vacancyID in the POST request -->
        <input type="hidden" name="blogID" th:field="*{blogID}"/>
        <div class="md-10">
            <label for="title">Blog Title: </label>
            <input type="text" th:field="*{blog_title}" class="form-control mb-4 w-25" id="title"
                   placeholder="Blog Title"/>

            <label for="description">Blog Description: </label>
            <input type="text" th:field="*{blog_description}" class="form-control mb-4 w-25" id="description"
                   placeholder="Blog Title"/>

            <label>Body:
                <textarea class="form-control" th:field="*{body}" id="blogBody"> </textarea>
            </label>

            <label for="publish_date">Publish Date: </label>
            <input type="date" th:field="*{publish_date}" class="form-control mb-4 w-25" id="publish_date"
                   placeholder="Publish Date"/>


            <label for="expirationDate">Expiration Date: </label>
            <input type="date" th:field="*{end_date}" class="form-control mb-4 w-25" id="expirationDate"
                   placeholder="Expiration Date:"/>

        </div>

        <button class="btn normal-button"
                hx-post="/Blog/save-updated-blog"
                hx-target="#main-page-section"
                > Save Updated Blog
        </button>

    </form>

</div>
<script>
    ClassicEditor
        .create(document.querySelector('#blogBody'))
        .catch(error => {
            console.error(error);
        });
</script>
