<div class="container-fluid">

    <div class="row">

        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: successMessage(${saveNewBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${savedBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${updateBlogResponse})}"></div>
    </div>

    <table class="table" id="myTable">
        <thead>
        <!--   <p th:text="*{foundBlog.blog_title}" >Blog Title</p>-->
        <tr >
            <th>Blog ID</th>
  <!--          <th>Blog Creator</th>-->
            <th>Publish Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th>Update Blog</th>
        </tr>
        </thead>
        <tbody>
        <!--<tr th:each="candidate : ${foundVacancy.candidate}">-->
        <tr th:each="foundBlog : ${blog}"  >

            <td th:text="*{foundBlog.blogID}"></td>
 <!--           <td th:text="*{foundBlog.employee.name}"></td>-->
            <td th:text="*{foundBlog.publish_date}"></td>
            <td th:text="*{foundBlog.end_date}"></td>
            <td th:text="*{foundBlog.status}"></td>

            <td>
                <form action="#" th:action="@{/Blog/update-blog}" th:method="post">
                    <!-- Hidden input field to include the vacancyID in the POST request -->
                    <input type="hidden" name="blogID" th:value="*{foundBlog.blogID}"/>
                    <!-- Submit button to trigger the form submission -->
                    <button class="btn normal-button"
                            hx-post="/Blog/update-blog"
                            hx-target="#main-page-section"
                            hx-swap="innerHTML"
                            hx-include="[blogID='blogID']">Update Blog
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>