<div class="container-fluid main-page-section">
    <div class="row">

        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: successMessage(${saveNewBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${savedBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${updateBlogResponse})}"></div>
    </div>

    <div class="container-fluid" th:each="foundBlog : ${blog}">


        <div class="row">
            <div class="col-6">
                <label>Blog ID:</label>
            </div>
            <div class="col-6">
                <span th:text="*{foundBlog.blogID}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Creator:</label>
            </div>
            <div class="col-6">
                <span th:text="*{foundBlog.employee.name}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Publish Date:</label>
            </div>
            <div class="col-6">
                <span th:text="*{foundBlog.publish_date}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>End date:</label>
            </div>
            <div class="col-6">
                <span th:text="*{foundBlog.end_date}"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label>Status:</label>
            </div>
            <div class="col-6">
                <span th:text="*{foundBlog.status}"></span>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-6">
                <form action="#" th:action="@{/Blog/update-blog}" th:method="post">
                    <!-- Hidden input field to include the vacancyID in the POST request -->
                    <input type="hidden" name="blogID" th:value="*{foundBlog.blogID}"/>
                    <!-- Submit button to trigger the form submission -->
                    <!--  <button class="btn btn-secondary"
                              hx-post="/Vacancy/update-vacancy"
                              hx-target="#main-page-section"
                              hx-swap="innerHTML"
                              hx-include="[vacancyID='vacancyID']">Update Vacancy
                      </button>-->
                    <button class="btn btn-secondary">Update Blog
                    </button>
                </form>


            </div>

        </div>
    </div>
</div>