<div class="container-fluid main-page-section">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${savedBlogResponse})}"></div>

        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${addImageResponse})}"></div>
    </div>

    <div class="col-12">
        <main>
            <article class="blog-post">
                <!-- Blog Title -->


                <div class="row-cols-12">
                    <header class="blog-title" th:text="*{blog.blog_title}">
                        <!-- Customize metadata as needed -->
                    </header>
                    <img th:if="${blog.headImagePath != null}" th:src="@{ ${BLOG_VOLUME} + ${blog.headImagePath}}"
                         class="shadow rounded"
                         alt="blog image" style="width: 800px; height: 350px;"/>
                </div>

                <!-- Blog Description -->
                <div class="row">
                    <div class="col-12">
                        <section class="blog-description" th:utext="*{blog.blog_description}">
                        </section>
                    </div>

                  <!--  <div class="row-cols-6">
                        <img th:if="${blog.headImagePath != null}" th:src="@{ ${BLOG_VOLUME} + ${blog.headImagePath}}"
                             class="float-end shadow rounded"
                             alt="blog image" style="width: 800px; height: 350px;"/>

                        <img th:if="${blog.headImagePath == null}" class="shadow -p3 mb-5 bg-body-tertiary rounded"
                             src="https://picsum.photos/800/350" alt="img" style="width: 800px; height: 350px;"/>

                    </div>-->
                </div>


                <div class="row-cols-12">
                    <!-- Blog Body/Content -->
                    <section class="blog-content" th:utext="*{blog.body}">

                        <!-- Main content of your blog post -->
                        <!-- Add more content as needed, e.g., images, lists, etc. -->
                    </section>
                </div>


                <div class="row-cols-12">
                    <img th:if="${blog.contentImageOnePath != null}"
                         th:src="@{ ${BLOG_VOLUME}  + ${blog.contentImageOnePath}}"
                         class="shadow -p3 mb-5 bg-body-tertiary rounded"
                         alt="blog image" style="width: 800px; height: 350px;"/>

                    <img th:if="${blog.contentImageOnePath == null}" class="shadow -p3 mb-5 bg-body-tertiary rounded"
                         src="https://picsum.photos/800/350" alt="img" style="width: 800px; height: 350px;"/>


                </div>

                <!-- Footer Section -->
                <footer class="blog-footer">
                    <!-- Additional elements like comment section, social media buttons, etc. can be added here -->

                    <!-- Publish Date -->
                    <p class="metadata publish-date" th:text="*{blog.publish_date}">Publish Date: </p>

                    <!-- Author -->

                    <!--DISPLAY ONLY NAME-->
                    <!--                <td th:text="${vapp.candidate.first_name + ' '+ vapp.candidate.last_name}"></td>-->
                    <p class="metadata author" th:text="*{blog.employee.name}">Author: </p>

                </footer>
            </article>

        </main>
        <a class="btn btn-secondary"
           th:href="@{/Blog/blogs}">Back to blog page</a>
        <a th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-secondary"
           th:href="@{/Blog/blog-administration}">Blog Admin</a>
    </div>
    <br/>


</div>