<div class="container-fluid main-page-section">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findBlogResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    </div>

    <div class="col-12">
        <main>
            <article class="blog-post">
                <!-- Blog Title -->
                <header class="blog-title" th:text="*{blog.blog_title}">
                    <!-- Customize metadata as needed -->
                </header>

                <!-- Blog Description -->
                <section class="blog-description" th:text="*{blog.blog_description}">
                </section>

                <!-- Blog Body/Content -->
                <section class="blog-content" th:text="*{blog.body}">
                    <!-- Main content of your blog post -->
                    <!-- Add more content as needed, e.g., images, lists, etc. -->
                </section>

                <!-- Footer Section -->
                <footer class="blog-footer">
                    <!-- Additional elements like comment section, social media buttons, etc. can be added here -->

                    <!-- Publish Date -->
                    <p class="metadata publish-date" th:text="*{blog.publish_date}">Publish Date: </p>

                    <!-- Author -->

                    <!--DISPLAY ONLY NAME-->
                    <!--                <td th:text="${vapp.candidate.first_name + ' '+ vapp.candidate.last_name}"></td>-->
                    <p class="metadata author" th:text="*{blog.employee.name}">Author: </p>

                </footer>
            </article>

        </main>

    </div>
    <br/>
    <a class="btn" th:href="@{/Blog/blogs}">Back to blog page</a>
</div>