<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navigation.html :: topNavigation"></div>
</div>


<div class="container-fluid">
    <table class="table">
     <!--   <ul class="list-group" th:remove="all-but-first">
            <li th:insert="fragments :: vacancies(${vacancy})" th:each="vacancy : ${vacancies}" th:remove="tag">
            </li>
        </ul>-->
    </table>
</div>



<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>