<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>


<div class="container-fluid">
    <div th:insert="fragments/layout/header">Header</div>

    <div class="header"><h2>Blog</h2></div>
    <hr/>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr th:each="blog : ${blogs}">
            <td th:text="*{blog.getBlogTitle()}"></td>
            <td th:text="*{blog.getBlogDescription()}"></td>
            <td th:text="*{blog.getBlogID()}"></td>
            <td th:text="*{blog.getEmployeeID()}"></td>
        </tr>
        </tbody>
    </table>

    <!--BOTTOM Navbar-->
    <div th:insert="fragments/layout/footer">Footer</div>

</div>



<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>