<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en" >
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/recruitmentZone.css}">-->
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">
    <title>Recruitment Zone</title>
</head>
<body>
<div class="container-fluid pt-2 pe-2" id="body-container">


    <div class="row 12">

        <div class="container-fluid main-page-section">

            <header class="alert-heading">
                <h1>Page Does Not Exist</h1>
            </header>

            <form th:action="@{/home}" th:method="Get">
                <button class="btn btn-dark">Home Page</button>
            </form>

        </div>
    </div>



</div>

<div th:replace="~{fragments/layout/scripts :: scripts}"></div>

</body>
</html>