<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div hx-trigger="load" hx-get="/htmx/employee">
        <div id="employee-admin-table" th:replace="fragments/employee/employee">Employees</div>
    </div>


    <!--     <div class="container-fluid">

             <table class="table table-bordered table-striped">
                 <thead class="table-dark">
                 <tr>
                     <th>Brand</th>
                     <th>LIK COLUMN</th>&lt;!&ndash; New column for the "View Job" link &ndash;&gt;
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="brandVal : ${T(com.GroundZero.Entity.Enums.Brand).values()}">
                     <td th:text="${brandVal}"></td>
                     <td>
                         <form  >
                             &lt;!&ndash; Hidden input field to include the brandVal in the POST request &ndash;&gt;
                             <input type="hidden" name="brand" th:value="${brandVal}"/>
                             &lt;!&ndash; Submit button to trigger the form submission &ndash;&gt;
                             <button  th:action="@{/car-brand-owners}" class='btn' hx-post="/car-brand-owners"
                                      hx-target='#owner-list'
                                      hx-swap='innerHTML'
                                      hx-include="[brand='brand']" >
                                 View Owners
                             </button>
                         </form>
                     </td>
                 </tr>
             </table>
         </div>

         <div id="owner-list"></div>-->


</body>
</html>