<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/css/recruitmentZone.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="icon" th:href="@{/icon/favicon.ico}" type="image/x-icon">


    <title>HTMX-Testing</title>
</head>
<body>

<div class="container-fluid">

    <div id="employee-admin-table">Employee List</div>
    <form action="#" th:action="@{/htmx/employee}"  method="post">
        <button hx-post="/htmx/employee"
                hx-target="#employee-admin-table"
                hx-swap="innerHTML">Load Employee List
        </button>
    </form>

</div>



<!--

<script type="text/javascript" >
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e,xhr, options) {
            xhr.setRequestHeader(header,token);
        })
    })
</script>
-->

<div class="container-fluid">
    <div th:replace="~{fragments/layout/scripts :: scripts}"></div>
</div>

</body>
</html>