<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:th="http://www.thymeleaf.org"-->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!--CUSTOM Application css -->
    <link rel="stylesheet" th:href="@{/css/recruitmentZoneStyles.css}" >

    <title>Recruitment Zone</title>
</head>
<body>
<div class="container-fluid">
    <!--TOP Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/indexPage}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ToDoList}">To Do List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/EmailManagement}">Email Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/RestaurantManagement}">Restaurant Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Calculate}">Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/BatchPage}">Batch Processing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/DesignPatterns}">Design Patterns</a>
                </li>
                <!--                   <li class="nav-item dropdown">
                                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           Dropdown
                                       </a>
                                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                           <a class="dropdown-item" href="#">Action</a>
                                           <a class="dropdown-item" href="#">Another action</a>
                                           <div class="dropdown-divider"></div>
                                           <a class="dropdown-item" href="#">Something else here</a>
                                       </div>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link disabled" href="#">Disabled</a>
                                   </li>-->
            </ul>
        </div>
        <div class="loginButton">
            <a class="btn btn-light" th:href="@{/Login}" role="button">Login</a>
        </div>
    </nav>
    <!--Home Page Heading
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
           <a class="navbar-brand" href="#">Navbar</a>
       </nav>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Spring boot playground</span>
    </nav>
</div>
-->
    <h1 class="display-4">To Do List</h1>
    <h5>Page Intro</h5>
     <!--DIFFERENT ELEMENTS -->
    <div class="w-100">
        <span class="d-block p-2 bg-dark text-white"><h2>To Do List</h2></span>
        <hr class="my-4">
        <div class="row mb-12">
            <div class="col-md-auto">
                <h1 class="display-4">To Do List</h1>
                <p class="lead">Start a list of things or continue where you left of</p>
                <hr class="my-4">
                <p>You must be logged in to use this functionality.</p>
                <a class="btn btn-primary btn-lg" th:href="@{/ToDoList}" role="button">Click Here</a>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <!--DIFFERENT ELEMENTS -->
    <div class="w-100">
        <span class="d-block p-2 bg-dark text-white"><h2>Email Management System</h2></span>
        <hr class="my-4">
        <div class="row mb-12">
            <div class="col-md-auto">
                <h1 class="display-4">Email Management System</h1>
                <p class="lead">Manage your mail box with ease.</p>
                <hr class="my-4">
                <p>You must be logged in to use this functionality.</p>
                <a class="btn btn-primary btn-lg"  th:href="@{/EmailManagement}" role="button">Click Here</a>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <!--DIFFERENT ELEMENTS -->
    <div class="w-100">
        <span class="d-block p-2 bg-dark text-white"><h2>Restaurant Management System</h2></span>
        <hr class="my-4">
        <div class="row mb-12">
            <div class="col-md-auto">
                <h1 class="display-4">Restaurant Management System</h1>
                <p class="lead">Start taking bookings for your restaurant today!</p>
                <a class="btn btn-primary btn-lg"  th:href="@{/RestaurantManagement}" role="button">Click Here</a>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <!--DIFFERENT ELEMENTS -->
    <div class="w-100">
        <span class="d-block p-2 bg-dark text-white"><h2>Calculator</h2></span>
        <hr class="my-4">
        <div class="row mb-12">
            <div class="col-md-auto">
                <h1 class="display-4">Calculator</h1>
                <p class="lead">Do you have any calculations you need assistance with ? No problem.</p>
                <a class="btn btn-primary btn-lg" th:href="@{/Calculate}" role="button">Click Here</a>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <!--DIFFERENT ELEMENTS -->
    <div class="w-100">
        <span class="d-block p-2 bg-dark text-white"><h2>Batch Processing</h2></span>
        <hr class="my-4">
        <div class="row mb-12">
            <div class="col-md-auto">
                <h1 class="display-4">Batch Processing</h1>
                <p class="lead">Process a batch!</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" th:href="@{/BatchPage}" role="button">Click Here</a>
            </div>
        </div>
        <hr class="my-4">
    </div>
    <!--BOTTOM Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/indexPage}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ToDoList}">To Do List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/EmailManagement}">Email Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/RestaurantManagement}">Restaurant Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Calculate}">Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/BatchPage}">Batch Processing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/DesignPatterns}">Design Patterns</a>
                </li>
                <!--                   <li class="nav-item dropdown">
                                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           Dropdown
                                       </a>
                                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                           <a class="dropdown-item" href="#">Action</a>
                                           <a class="dropdown-item" href="#">Another action</a>
                                           <div class="dropdown-divider"></div>
                                           <a class="dropdown-item" href="#">Something else here</a>
                                       </div>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link disabled" href="#">Disabled</a>
                                   </li>-->
            </ul>
        </div>
        <!--FOOTER-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <span class="text-muted">Black Light Code &copy</span>
                </div>
            </div>
        </footer>
    </nav>

</div>

</body>
</html>