<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/css/recruitmentZoneStyles.css}" >

    <title>List Vacancies</title>
</head>
<body>

<div class="container-fluid">
    <div class="jumbotron">
        <!--Database Extract example-->
        <div class="row mb-12">
            <div class="col-md-12">
                <h3>Open Vacancies</h3>
                 <table>
                    <thead>
                    <tr>
                        <th>Open Vacancies</th>
                        <!-- Add more table headers as needed -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vacancy : ${vacancies}">
                        <td th:text="${vacancy.title}"></td>
                        <td th:text="${vacancy.description}"></td>
                        <td th:text="${vacancy.startDate}"></td>
                        <td th:text="${vacancy.status}"></td>
                        <!-- Add more table data cells as needed -->
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

</body>
</html>
