<nav class="navbar fixed-bottom navbar-expand-lg d-none d-xxl-block bg-body-tertiary"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar-nav mr-auto">
        <a class="nav-link" th:href="@{/home}">Home</a>
        <a class="nav-link" th:href="@{/aboutus}">About Us</a>
        <a class="nav-link" th:href="@{/Communication/contact-us}">Contact Us</a>
        <a class="nav-link" th:href="@{/Blog/blogs}">Blogs</a>
        <!--        <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"
                   th:href="@{/Candidate/candidate-administration}">Candidate Administration</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') or hasRole('ROLE_EMPLOYEE')"
                   th:href="@{/Document/document-administration}">Document Search</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"
                   th:href="@{/Client/client-administration}">Client Administration</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"
                   th:href="@{/Employee/employee-admin}">Employee Administration</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') or hasRole('ROLE_EMPLOYEE')"
                   th:href="@{/Blog/blog-administration}">Blog Administration</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') or hasRole('ROLE_EMPLOYEE')"
                   th:href="@{/Vacancy/vacancy-administration}">Vacancy Administration</a>
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER') or hasRole('ROLE_EMPLOYEE')"
                   th:href="@{/Application/applications-administration}">Applications Administration</a>-->
    </div>
</nav>
