<div class="row-cols-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            <a class="nav-link" th:href="@{/vacancy-administration}">Vacancy Administration</a>
            <a class="nav-link" th:href="@{/blogs}">Blog</a>
            <a class="nav-link" th:href="@{/aboutus}">About Us</a>
            <a class="nav-link" th:href="@{/contactus}">Contact Us</a>
            <a class="nav-link" th:href="@{/employee-admin}">Employee Administration</a>
        </div>
        <!--        <footer class="footer">
                    <span class="text-muted">Black Light Code &copy</span>
                </footer>-->
    </nav>
</div>
