<div class="row-cols-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}">Recruitment Zone</a>
        <!-- Toggle button for smaller devices -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/blogs}">Blogs</a>
                <a class="nav-link" th:href="@{/aboutus}">About Us</a>
                <a class="nav-link" th:href="@{/contact-us}">Contact Us</a>
                <a class="nav-link" th:href="@{/employee-admin}">Employee Administration</a>
                <a class="nav-link" th:href="@{/blog-administration}">Blog Administration</a>
                <a class="nav-link" th:href="@{/vacancy-administration}">Vacancy Administration</a>
            </div>
            <a class="btn btn-light" th:href="@{/log-in}" role="button">Login</a>
        </div>
    </nav>
</div>