<div class="container-fluid right-page-frame">

    <h4 class="h4">Add Contact Person</h4>

    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>


    <form action="#" th:action="@{/Client/save-new-contact}" th:object="${contactPersonDTO}" th:method="POST">
        <input type="hidden" name="clientID" th:value="${clientID}"/>
        <label for="firstName">
            First Name: <input type="text"  id="firstName" th:field="${contactPersonDTO.first_name}"
                               placeholder="Contact Person First Name" class="form-control">
        </label>

        <br/>
        <label>
            Last Name<input type="text" th:field="${contactPersonDTO.last_name}"
                            placeholder="Last Name" class="form-control">
        </label>
        <br/>
        <label>
            Email Address<input type="text" th:field="${contactPersonDTO.email_address}"
                                placeholder="Email Address" class="form-control">
        </label>
        <br/>
        <label>
            Land Line<input type="text" th:field="${contactPersonDTO.land_line}"
                            placeholder="Land Line" class="form-control">
        </label>
        <br/>
        <label>
            Cell Phone<input type="text" th:field="${contactPersonDTO.cell_phone}"
                             placeholder="Cell Phone Number" class="form-control">
        </label>
        <br/>
        <label>
            Contact Person Designation<input type="text" th:field="${contactPersonDTO.designation}"
                                             placeholder="Designation" class="form-control">
        </label>
        <br/> <br/>

        <button class="btn drop-down-button"
                hx-post="/Client/save-new-contact"
                hx-target="#right-page-column"
                hx-swap="innerHTML"> Add To Client
        </button>


    </form>
</div>