<div class="container-fluid main-page-section">
    <div class="h4">Create Client</div>
    <br>
    <br>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

    <form action="#" th:action="@{/Client/save-client}" th:object="${newClientDTO}" method="POST">
        <div class="form-group">
            <label>
                Client Name:<input type="text" th:field="*{name}" placeholder="First Name" class="form-control">
            </label>

            <label for="industry">Select Industry:
            </label>
            <select class="form-select-sm" aria-label=".form-select-sm" id="industry"
                    th:field="*{industry}">
                <option th:each="type : ${T(za.co.recruitmentzone.util.enums.Industry).values()}"
                        th:value="${type}" th:text="${type.getPrintableIndustryName()}"></option>
            </select>

            <br>


            <div class="h5">Add Contact Person Client</div>

            <br>
            <label>
                First Name<input type="text" th:field="*{contactPerson_FirstName}"
                                 placeholder="Contact Person First Name" class="form-control">
            </label>
            <label>
                Last Name<input type="text" th:field="*{contactPerson_last_name}"
                                placeholder="Last Name" class="form-control">
            </label>
            <label>
                Designation<input type="text" th:field="*{contactPerson_designation}"
                                  placeholder="Designation" class="form-control">
            </label>

            <label>
                Email Address<input type="text" th:field="*{contactPerson_email_address}"
                                    placeholder="Email Address" class="form-control">
            </label>

            <label>
                Land Line<input type="text" th:field="*{contactPerson_land_line}"
                                placeholder="Land Line" class="form-control">
            </label>

            <label>
                Cell Phone<input type="text" th:field="*{contactPerson_cell_phone}"
                                 placeholder="Cell Phone Number" class="form-control">
            </label>
            <br/>
            <br>
            <br>
            <button class="btn drop-down-button"
                    hx-post="/Client/save-client"
                    hx-target="#body-container"
                    hx-swap="innerHTML"
                    hx-include="[ClientDTO='ClientDTO']">Add Client
            </button>
        </div>
    </form>
</div>