<div class="container-fluid">

    <div th:insert="~{fragments/layout/response-messages :: successMessage(${internalServerError})}"></div>

    <div class="container-fluid">
        <form action="#" th:action="@{/Client/upload-document}" th:object="${clientFileDTO}" th:method="post"
              enctype="multipart/form-data" hx-encoding='multipart/form-data'>
            <div class="form-group">
                <!-- Hidden input field to include the candidateID in the POST request -->
                <input type="hidden" name="vacancyID" th:field="${vacancy.vacancyID}"
                       th:value="${vacancyID}"/>
                <input type="hidden" name="clientID" th:value="${client.clientID}"/>

                <label for="docAttachment">Attach Document:</label>
                <input type="file" name="docAttachment" id="docAttachment" class="form-control mb-4 w-25"/>

                <label for="documentType">Document Type:
                </label>
                <select class="form-select-sm" aria-label=".form-select-sm"  id="documentType" th:field="${clientFileDTO.documentType}">
                    <option th:each="docType : ${T(za.co.recruitmentzone.util.enums.ClientDocumentType).values()}"
                            th:value="${docType}" th:text="${docType.getPrintableDocType()}"></option>
                </select>
            </div>
            <br>

            <button class="btn"
                    hx-post="/Client/upload-document"
                    hx-target="#right-page-column"
                    hx-swap="innerHTML"
                    hx-include="[clientFileDTO='clientFileDTO']">Add New Document
            </button>


        </form>

    </div>
</div>



