<div class="container-fluid right-page-frame" th:if="${#lists.isEmpty(contactPersonList)}">

    <form th:action="@{/Client/add-contact}" th:method="POST">

        <input type="hidden" name="clientID" th:value="${clientID}"/>

        <button class="btn normal-button"
                hx-post="/Client/add-contact"
                hx-target="#right-page-column"
                hx-swap="innerHTML"
                hx-include="[clientID='clientID']">Add Contact Person To Client
        </button>
    </form>
</div>
<div class="container-fluid right-page-frame" th:unless="${#lists.isEmpty(contactPersonList)}">


    <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveUpdatedContactResponse})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveNewClientResponse})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

    <div class="container-fluid" th:each="contact : ${contactPersonList}">
        <button class="btn" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            <p   th:text="${contact.first_name +' ' +contact.last_name }"></p>
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
            <!--  <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                  <hr class="dropdown-divider">
              </li>-->
            <li>
                <a>
                    <form th:action="@{/Client/update-client-contact}" th:method="post">

                        <input type="hidden" name="contactPersonID" th:value="*{contact.contactPersonID}"/>

                        <button class="btn"
                                hx-post="/Client/update-client-contact"
                                hx-target="#right-page-column"
                                hx-swap="innerHTML"
                                hx-include="[contactPersonID='contactPersonID']">Update Contact
                        </button>
                    </form>
                </a>
            </li>
        </ul>
    </div>




    <form th:action="@{/Client/add-contact}" th:method="POST">
        <input type="hidden" name="clientID" th:value="${clientID}"/>
        <button class="btn drop-down-button"
                hx-post="/Client/add-contact"
                hx-target="#right-page-column"
                hx-swap="innerHTML"
                hx-include="[clientID='clientID']">Add Contact Person
        </button>
    </form>
</div>
