<div class="container-fluid main-page-section">

    <div class="container-fluid"><h2>Update Client</h2></div>


    <p th:if="${bindingResult}" th:text="${bindingResult}"></p>
    <p th:if="${findClientByIDResponse}" th:text="${findClientByIDResponse}"></p>
    <p th:if="${internalServerError}" th:text="${internalServerError}"></p>

    <div class="container-fluid">

        <form action="#" th:action="@{/Client/save-updated-client}" th:object="${client}" th:method="POST">
            <!-- Hidden input field to include the vacancyID in the POST request -->
            <input type="hidden" name="clientID" th:field="${client.clientID}" />
            <div class="md-10">
                <label for="name" >Client Name: </label>
            </div>
            <input type="text" th:field="*{name}" class="form-control mb-4 w-25" id="name" placeholder="Name"/>
            <label for="industry" >Select Industry:
            </label>
            <select class="form-select" aria-label=".form-select" id="industry" th:field="*{industry}">
                <option  value="1" th:each="type : ${T(za.co.recruitmentzone.util.enums.Industry).values()}"
                        th:value="${type}" th:text="${type.getPrintableIndustryName()}"></option>
            </select>
            <br>
            <!--<button type="submit" class="btn">Save Updated Client</button>
-->

            <button class="btn normal-button"
                    hx-post="/Client/save-updated-client"
                    hx-target="#main-page-section"
                    hx-swap="innerHTML"
                    hx-include="[client='client']"> Save Updated Client
            </button>

        </form>



    </div>

</div>