<div class="container-fluid main-page-section">

    <div class="row">
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findClientByIDResponse})}"></div>


        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>

    </div>


    <div class="table-responsive" th:object="${existingNotes}">



        <!-- Check if a condition is true -->
        <div th:if="${noNotesFound}">
            <p>No client notes. Add one bellow.</p>

        </div>
        <!-- If the condition is false, render this instead -->
        <div th:else>
<!--     <table class="table table-hover sort-asc">   -->
            <table class="table table-hover table-responsive-sm" id="table_id" >
            <!--    <caption th:text="${note.client.name}"  > </caption>
-->
                <thead >
                <tr>
                    <th>Date Captured</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody >

                <tr th:each="note : ${existingNotes}">
                    <td th:text="${#temporals.format(note.dateCaptured, note.dateCaptured.isBefore(#temporals.createNow()) ? 'yyyy-MM-dd HH:mm' : 'yyyy-MM-dd')}"></td>

                    <td th:text="${note.comment}"></td>
                    <!-- <td th:text="*{note.dateCaptured}"></td>
                     <td th:text="*{note.comment}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>


    </div>

    <div class="container-fluid" >
        <form action="#" th:action="@{/Client/save-client-note}" th:object="${clientNoteDTO}"
              th:method="post">
            <div class="form-group">
                <!-- Hidden input field to include the candidateID in the POST request -->
                <input type="hidden" name="clientID" th:field="${clientNoteDTO.clientID}" th:value="${clientID}" />
                <div th:insert="~{fragments/layout/response-messages :: successMessage(${noteSaved})}"></div>
                <hr/>
                <label for="comment">
                    Comment:
                </label>
                <textarea class="form-control mb-4 text-black-50" th:field="${clientNoteDTO.comment}" id="comment"></textarea>
            </div>

            <button class="btn normal-button"
                    hx-post="/Client/save-client-note"
                    hx-target="#main-page-section"
                    hx-swap="innerHTML"
                    hx-include="[clientNote='clientNote']">Add Note
            </button>
        </form>

    </div>



</div>