<div class="container-fluid main-page-section" >

    <!--MESSAGE AREA-->

    <div th:insert="~{fragments/layout/response-messages :: successMessage(${saveUpdatedClientResponse})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${bindingResult})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${findClientByIDResponse})}"></div>
    <div th:insert="~{fragments/layout/response-messages :: failureMessage(${invalidFileUpload})}"></div>

        <!-- th:unless="${#lists.isEmpty(allSeedStarters)}"-->
    <table class="table table-striped table-hover table-responsive">

        <!--       th:each="vApplication : *{vacancy.getApplications}">-->
        <thead>
        <!-- Your table headers here -->
        <tr>
            <th>Client ID</th>
            <th>Industry</th>
            <th>Created Date</th>
            <th>No. Contact People</th>
            <!--
               <th>Current Role</th>
               <th>Seniority</th>
               <th>Education Level</th>
               <th>Relocation</th>-->
            <th>Update Vacancy</th>
            <!-- Add more columns as needed -->
        </tr>
        </thead>
        <tbody>
        <!--<tr th:each="candidate : ${foundVacancy.candidate}">-->
        <tr th:each="foundClient : ${client}">
            <td th:text="*{foundClient.clientID}"></td>
            <td th:text="${foundClient.industry}"></td>
            <td th:text="${foundClient.created}"></td>
            <td th:text="${foundClient.getContactPeopleCount}"></td>
            <!--
             <td th:text="${candidate.phone_number}"></td>
             <td th:text="${candidate.current_province}"></td>
             <td th:text="${candidate.current_role}"></td>
             <td th:text="${candidate.seniority_level}"></td>
             <td th:text="${candidate.education_level}"></td>
             <td th:text="${candidate.relocation}"></td>-->
            <td>
                <form action="#" th:action="@{/Client/view-client-contacts}" th:method="post">
                    <!-- Hidden input field to include the vacancyID in the POST request -->
                    <input type="hidden" name="clientID" th:value="*{foundClient.clientID}"/>
                    <!-- Submit button to trigger the form submission -->
                    <button class="btn normal-button"
                            hx-post="/Client/view-client-contacts"
                            hx-target="#right-page-column"
                            hx-swap="innerHTML"
                            hx-include="[clientID='clientID']">View Contacts
                    </button>
                </form>

            </td>

        </tr>
        </tbody>
    </table>
<!--     <div th:insert="~{fragments/clients/add-document}">Add Document</div>-->
</div>




