<div class="container-fluid page-component" th:fragment="clientNotes(existingNotes)" id="clientNotes">

    <div class="row">

        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${findClientByIDResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: genericMessage(${saveNewClientResponse})}"></div>
        <div th:insert="~{fragments/layout/response-messages :: failureMessage(${internalServerError})}"></div>
    </div>


    <div class="container-fluid">

        <!--  display client   -->
        <div th:insert="~{fragments/clients/client-fragment :: clientView(${client})}"></div>


        <!-- Check if a condition is true -->
        <div th:if="${noNotesFound}">
            <p>No client notes. Add one bellow.</p>

        </div>
        <!-- If the condition is false, render this instead -->
        <div th:else>
            <!--     <table class="table table-hover sort-asc">   -->
            <div class="container-fluid">
                <table class="table table-hover ">
                    <caption th:if="${totalItems >0}">
                        <div class="col-sm-1" th:if="${totalPages > 1}" style="display: inline;">
					    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a class="btn btn-secondary"
                           th:if="${currentPage != i}"
                           th:href="@{'/Client/paginatedClientNotes/' + ${client.clientID} + '/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                           onclick="loadHTMXFragment(this.href, 'main-page-section'); return false;" th:text="${i}">
                        </a>  <span th:unless="${currentPage != i}">[[${i}]]</span>
				    	</span>
                        </div>
                    </caption>
                    <thead>
                    <tr>
                        <th>
                            <a class="aRef"
                               th:if="${currentPage != i}"
                               th:href="@{'/Client/paginatedClientNotes/'  + ${client.clientID} + '/' + ${currentPage}+ '?sortField=dateCaptured&sortDir=' + ${reverseSortDir}}"
                               onclick="loadHTMXFragment(this.href, 'main-page-section'); return false;"
                            >Date Captured
                            </a>
                        </th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="note : ${existingNotes}">
                        <td th:text="${#temporals.format(note.dateCaptured, 'dd-MM-yyyy HH:mm')}"></td>
                        <td th:text="${note.comment}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--   <div class="col-sm-1" th:if="${totalPages > 1}" style="display: inline;">
                       <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                           <a class="btn btn-secondary"
                              th:if="${currentPage != i}"
                              th:href="@{'/Client/paginatedClientNotes/' + ${client.clientID} + '/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                              onclick="loadHTMXFragment(this.href, 'main-page-section'); return false;" th:text="${i}">
                           </a>  <span th:unless="${currentPage != i}">[[${i}]]</span>
                       </span>
               </div>-->

        </div>


    </div>

    <div class="container-fluid">

        <form action="#" th:action="@{/Client/save-client-note}" th:object="${clientNoteDTO}"
              th:method="post">
            <div th:insert="~{fragments/layout/response-messages :: successMessage(${saveNoteToClientResponse})}"></div>
            <div class="form-group">
                <!-- Hidden input field to include the candidateID in the POST request -->
                <input type="hidden" name="clientID" th:field="${clientNoteDTO.clientID}" th:value="${clientID}"/>

                <input type="hidden" name="currentPage" th:value="${currentPage}"/>
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                <!-- currentPage , sortField, sortDir -->
                <hr/>
                <label for="comment">
                    Comment:
                </label>
                <p class="alert alert-danger alert-dismissible fade show" th:if="${#fields.hasErrors('comment')}"
                   th:errors="${clientNoteDTO.comment}"
                ></p>
                <textarea class="form-control mb-4 text-black-50" th:field="${clientNoteDTO.comment}"
                          id="comment"></textarea>
            </div>

            <button class=" btn btn-primary"
                    hx-post="/Client/save-client-note"
                    hx-target="#main-page-section"
                    hx-swap="innerHTML"
                    hx-include="[clientNoteDTO='clientNoteDTO']">Add Note
            </button>


        </form>

    </div>


</div>

<!--     <meta name="_csrf" th:content="${_csrf.token}"/>
            <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
-->